<%= form_for([@event, @team]) do |f| %>
 <% if @team.errors.any? %>
    <%= render "shared/errors", errors: @team.errors %>
  <% end %>


<div class='row'>
  <div class='col-md-6 offset-md-3'>
    <div class='card event-card-shadow'>
      <div class='card-block'>
        <%= f.label :name, "Team Name" %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :team_photo %>
        <%= f.file_field :team_photo, class: 'form-control' %>
        
        <%= f.label :goal, "Team's Goal" %>
        <div class="input-group">
        <div class="input-group-addon"><i class='fa fa-usd'></i></div>
        <%= f.number_field :goal, class: 'form-control', value: '500' %>
        <div class="input-group-addon">.00</div>
        </div>
        <br />
        <h6>Registering as: <%= current_user.name %></h6>
        <%= f.fields_for :attendees do |ff| %>
          <%= ff.hidden_field(:user_id, :value => current_user.id) %>
          <%= ff.hidden_field(:is_leader, :value => 't') %>
          <%= ff.hidden_field(:category, :value => 'Personal') %>
          <%= ff.label :fee, "Registation Fee" %>
          <%= ff.select(:fee, options_for_select(@event.registration_fees.is_personal.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {prompt: 'Select One'}, class: 'form-control') %>
          <%= ff.label :shirt_size %>
          <%= ff.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control') %>
          <div class='row mt-5'>
            <div class='col-12'>
              <div class="form-check">
                <label class="form-check-label">
                  <%= ff.check_box :accepted_terms, class: "form-check-input" %>
                    By clicking this box you accept the waiver listed below for yourself and your guests.
                </label>
              </div>
            </div>
          </div>
          <%= ff.hidden_field(:event_id, value: @event.id) %>
        <% end %>
        
      <%= f.submit 'Create Team', class: 'btn btn-success btn-block my-3' %>
      <%= link_to "Cancel", :back, class: 'btn btn-danger btn-block my-1'%>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/waiver' %>
<% end %>