<!--<#%= render 'shared/title', title: "#{@team.name}", display: 2 %>-->
<div class='event-banner' style='position: relative; background-image: url(<%= @team.event.event_cover? ? @team.event.event_cover.url : image_url('walk-wide.jpg') %>); height:450px; background-size: cover; margin-top: -46px;'>
  <div class='row' style='position: absolute; bottom: 5%; left: 15px; width:100%'>
    <div class='col-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 w pt-2' style='background-color: rgba(38, 49, 59, 0.54); '>
      <h1 class='display-4' style="font-family: 'Changa One', cursive;"><%= @team.name %></h1>
      <hr style="border-top-color: white; margin-right: 7rem;">
      <p style='font-size: 120%;'>
        #NFStrong - <%= @team.event.name %>
        <br>
        <i class="fa fa-calendar" aria-hidden="true" style='width:20px;'></i>  <%= @team.event.event_date.strftime("%A, %B %d, %Y") %>
        <br>
        <i class="fa fa-clock-o" aria-hidden="true" style='width:20px;'></i>  <%= @team.event.event_start_time.strftime("%I:%M %p")  %> - <%= @team.event.event_end_time.strftime("%I:%M %p")  %>
        <br>
        <i class='fa fa-map-marker' aria-hidden="true" style='width:20px;'></i>  <%= @team.event.venue_name %> - <%= @team.event.city %>, <%= @team.event.state %>
      </p>

    </div>
  </div>
</div>

<div class='row'>
  <div class='col-8'>
    <div class='row mt-3'>
      <div class='col-12'>
        <div class='card card-block'>
          <h4>Team Members</h4>
          <div class='row'>
            <% @team.attendees.each do |attendee| %>
              <div class='col-3 my-3'>
                <% if attendee.user.profile_pic? %>
                <img class='img-fluid rounded-circle d-block mx-auto' src='<%= attendee.user.profile_pic %>' style='height: 75px;'>
                <% else %>
                <img class='img-fluid rounded-circle img-thumbnail d-block mx-auto' src='<%= image_url('no_user.png') %>' style='height: 75px;'>
                <% end %>
              </div>
              <div class='col-9 my-3'>
                <h6 class='mt-4'><%= link_to attendee.user.name.titleize, attendee_pledge_page_path(attendee) %> | <small class='muted-text'><%= number_to_currency(attendee.fee) %> Raised</small></h6>
              </div>
              <% attendee.guests.each do |guest| %>
              <div class='col-3 my-3'>
                <img class='img-fluid rounded-circle img-thumbnail d-block mx-auto' src='<%= image_url('no_user.png') %>' style='height: 75px;'>
              </div>
              <div class='col-9 my-3'>
                <h6 class='mt-4'><%= guest.name.titleize %> | <small class='muted-text'><%= number_to_currency(guest.fee) %> Raised</small></h6>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class='col-4'>
    <div class='row'>
      <div class='col-12'>
        <div class='card card-block ml-3'>
          <h4><%= number_to_currency(@team.raised) %> Raised <small class='text-muted'><%= @team.raised_percent.round(2) %>%</small></h4>
          <hr />
          <%= number_to_currency(@team.goal) %>
          <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @team.raised_percent %>%" aria-valuenow="<%= @team.raised_percent %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<%= link_to "Join This Team", new_event_attendee_path(@team.event), class: 'btn btn-success btn-block mt-3' %>
        </div>  
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-12'>
      <div class='card card-block ml-3'>
              <h3 class='text-center mt-4' style="font-family: 'Just Another Hand', cursive;">Share With Friends</h3>
    <ul class='nav justify-content-center pr-1 mt-2'>
      <li class='nav-item'><a class='nav-link' href='https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>' target="_blank"><i class='fa fa-facebook-square fa-3x social-icon' style='color:#3b5998;'></i></a></li>
      <li class='nav-item'><a class='nav-link' href='http://twitter.com/home?status=SHAREMESSAGE' target="_blank" ><i class='fa fa-twitter-square fa-3x social-icon' style='color:#00aced;'></i></a></li>
      <li class='nav-item'><a class='nav-link' href='https://plus.google.com/share?url=<%= request.original_url %>'  target="_blank"><i class='fa fa-google-plus-square fa-3x social-icon' style='color:#dd4b39;'></i></a></li>
      <li class='nav-item'><a class='nav-link' href='https://www.reddit.com/r/Charity/submit?title=Checkout%20the%20event:&url=<%= request.original_url %>' target="_blank"><i class='fa fa-reddit-square fa-3x social-icon' style='color:#FF5700;'></i></a></li>
    </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<br />