<%= form_for([:admin, @event, @fee]) do |f| %>
<% if @fee.errors.any? %>
  <%= render 'shared/errors', errors: @fee.errors %>
<% end %> 

<div class='row'>
  <div class='col-lg-6 offset-md-3'>
    <div class='card card-block'>
    
    <div class='row'>
      <div class='col-12'>
        <%= f.label :name, "Fee Name" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div>
      <div class='row'>
        <div class='col-12'>
          <%= f.label :category %>
          <%= f.select :category, options_for_select([["Personal", "Personal"], ["Corporate", "Corporate"], ["Fundraising", "Fundraising"]], f.object.category), { :prompt => "Make a Selection" }, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <%= f.label :amount, "Fee Amount" %>
        <%= f.number_field :amount, class: 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <%= f.label :guest_limit, "Guest Limit" %>
        <%= f.number_field :guest_limit, class: 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: 5 %>
      </div>
    </div>

    <%= f.submit @fee.new_record? ? "Create Fee" : "Edit Fee", class: 'btn btn-success btn-block my-2' %>       
        <%= link_to "Cancel", admin_event_path(@event), class: 'btn btn-danger btn-block my-2' %>   
    </div>
  </div>
</div>


<% end %> 


