<%= form_for( [:admin, @event, Organizer.new ], remote: true, authenticity_token: true) do |f| %>
    <div class='row'>
    <div class='col-md-3'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='col-md-3'>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control'%>

    </div>

    <div class='col-md-3' style='padding-top: 1.80rem;'>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
    </div>
<% end %>