<%= form_for( [ @attendee, Guest.new ], remote: true) do |f| %>
<%= f.hidden_field(:paid, :value => false) %>
    <div class='row'>
      <div class="col-md-6">
        <%= f.label :name, "Guest's Full Name" %>
        <%= f.text_field :name, class: 'form-control', id: 'name_box' %>
      </div>
      <div class="col-md-6">
    
        <%= f.label :email, "Guest's Email" %>
        <%= f.email_field :email, class: 'form-control', id: 'email_box' %>
      </div>
    </div>

  <div class='row my-2'>
    <% if @attendee.category == "Personal" %>
    <div class="col-md-4">
      <%= f.label :fee, "Registration Type" %>
      <%= f.select(:fee, options_for_select(@event.registration_fees.is_personal.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {prompt: 'Select One'}, class: 'form-control', id: 'fee_box') %>
    </div>
    <% else %>
    <div class="col-md-4">
      <%= f.label :fee, "Registration Type" %>
      <%= f.select :fee,options_for_select([["Free Guest", "0" ]]), { } ,class: 'form-control' %>
    </div>
    <% end %>
    <div class="col-md-4">
      <% if @attendee.event.event_type === "Concert" %>
        <%= f.hidden_field(:shirt_size, :value => "N/A") %>
      <% else %>
      <%= f.label :shirt_size, "Shirt Size" %>
      <%= f.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control', id: 'shirt_box') %>
      <% end %>
    </div>
        <div class="col-md-4">
          <%= f.submit 'Submit', class: 'btn btn-primary', style: 'margin-top: 2rem;' %>
        </div>
    </div>
<% end %>