<%= render 'shared/title', title: "#{@event.name}", display: 2 %>
<ul class='nav justify-content-center my-4'>
  <li class="nav-item">
    <%= link_to "Orders", admin_event_orders_path(@event), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Donations", admin_event_contributions_path(@event), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "User View", event_path(@event), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Edit", edit_admin_event_path(@event), class: 'nav-link btn btn-warning mx-2' %>
  </li>
  <li class='nav-item'>
    <%= link_to "Create Event Summary", admin_event_concert_summary_path(@event, format: :xlsx,), class: 'nav-link btn btn-primary mx-2' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Delete', admin_event_path(@event), method: :delete, data: { confirm: 'Are you sure? (This action can not be undone)' }, class: 'btn btn-danger nav-link mx-2' %>
  </li>
</ul>


<div class='row my-3'>
  <% @event.tickets.each do |ticket| %>
  <div class='col-sm-6 col-lg-4 my-3'>
    <div class='card card-block callout text-center'>
      <h4 class='my-3'>
      <%= ticket.name %>
      <br><br>
      <%= ticket.sold %>
      <br>
      Sold</h4>
    </div>
  </div>
  <% end %>
  <div class='col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 my-3'>
    <div class='card card-block callout text-center' style='min-height: 178px;'>
      <h4 class='my-3'>
      Raised
      <br><br>
      <%= number_to_currency(@event.raised) %>
      </h4>
    </div>
  </div>
</div>



<div class='row'>
  <div class='col-12'>

    <div class='card card-block'>
      <h3 class='card-title'>Tickets Available <%= link_to "Create Ticket", new_admin_event_ticket_path(@event), class: 'btn btn-success float-right' %></h3>

      <table class='table'>
        <thead>
          <th>Ticket Name</th>
          <th>Ticket Price</th>
          <th>Quantity</th>
          <th>Sold</th>
          <th>Available to the Public</th>
          <th>Sold Out</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <%= render @event.tickets %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'admin/sponsor_levels/new', event: @event %>

<div class='row'>
  <div class='col-12'>

    <div class='card card-block my-3'>
      <h3 class='card-title'>Sponsor Levels</h3>

      <table class='table'>
        <thead>
          <th>Sponsor Level Name</th>
          <th>Price</th>
          <th>Ticket Type</th>
          <th>Quantity of Tickets</th>
          <th>Desc</th>
          <th>Actions</th>
        </thead>
        <tbody id='sponsor-levels'>
          <%= render @event.sponsor_levels %>
        </tbody>
      </table>
    </div>
  </div>
</div>