<%= tinymce_assets %>
<%= tinymce :content_css => asset_path('application.css') %>

<%= form_for [:admin, @event] do |f| %>
  <% if @event.errors.any? %>
    <%= render "shared/errors", errors: @event.errors %>
  <% end %>

<div class='row'>
  <div class='col-10 offset-1'>
    <div class='card card-block'>
      <h3 class="card-title">General Event Details</h3>
      <div class='row'>
        <div class='col-md-8'>
          <%= f.label :name, "Event Name" %>
      <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class='col-md-4'>
           <%= f.label :goal, "Event Goal" %>

        <%= f.number_field :goal, class: 'form-control' %>

        </div>
      </div>
      
      
    <div class='row my-2'>
       <div class='col-md-4'>
        <%= f.label :event_cover, "Event Cover Image" %>
        <%= f.file_field :event_cover, class: 'form-control' %>         
       </div>
      <div class='col-md-4'>
        <%= f.label :event_card, "Upcoming Event Image" %>
        <%= f.file_field :event_card, class: 'form-control' %>         
      </div>
      <div class='col-md-4'>
        <%= f.label :event_type %>
        <%= f.select :event_type, options_for_select([["Walk", "Walk"], ["Bowling", "Bowling"], ["Golf", "Golf"], ["Concert", "Concert"], ["Gala", "Gala"]], f.object.event_type), { :prompt => "Make a Selection" }, class: 'form-control' %>
      </div>
    </div>

      <%= f.label :size_ids, 'Select Available Shirt Sizes (Ctrl click to select multiple)' %>
      <%= f.select :size_ids, Size.all.collect {|x| [x.label, x.id]}, {}, class: 'form-control', :multiple => true, size: 6 %>

      
      <%= f.label :desc, "Event Summary" %>
      <%= f.text_area :desc, class: "tinymce", :row => 350, :cols => 120 %>
    </div>
  </div>
</div>

<div class='row my-3'>
  <div class='col-10 offset-1'>
    <div class='card card-block'>
      <h3 class="card-title">Event Dates</h3>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.label :event_date, "Date of Event" %>
          <%= f.date_field :event_date, class: 'form-control' %>
        </div>
        <div class='col-md-6'>
                <%= f.label :registration_date, "Date Registration Begins" %>
        <%= f.date_field :registration_date, class: 'form-control' %>
        </div>
      </div>



      <div class='row mt-3'>
        <div class='col-md-6'>
          <%= f.label :event_start_time %>
          <br />
          <%= f.time_select :event_start_time, { ampm: true, minute_step: 15 }, { class: "form-control" } %>
        </div>
        <div class='col-md-6'>
          <%= f.label :event_end_time %>
          <br />
          <%= f.time_select :event_end_time, { ampm: true, minute_step: 15 }, { class: "form-control" } %>
        </div>
      </div>        

     </div>
  </div>
</div>

<div class='row my-3'>
  <div class='col-10 offset-1'>
    <div class='card card-block'>
      <h3 class="card-title">Google Map Generator</h3>
      <div class='row my-3'>
        <div class='col-12'>
          <%= f.label :venue_name, "Name of the Venue" %>
          <%= f.text_field :venue_name, class: 'form-control' %>
        </div>
      </div>
      <div class='row my-3'>
        <div class='col-12'>
          <%= f.label :street, "Street Address" %>
          <%= f.text_field :street, class: 'form-control' %>
        </div>
      </div>
      <div class='row my-3'>
        <div class='col-6'>
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>
        <div class='col-3'>
          <%= f.label :state %>
          <%= f.select :state, options_for_select(states, :selected => f.object.state), { } , class: 'form-control' %>
        </div>
        <div class='col-3'>
          <%= f.label :zipcode %>
          <%= f.text_field :zipcode, class: 'form-control' %>
        </div>
      </div>  
     </div>
  </div>
</div>

<div class='row'>
  <div class='col-10 offset-1'>
    <div class='card card-block'>
      <%= f.submit(@event.new_record? ? "Create New Event" : "Save Changes", class: "btn btn-success btn-block") %>
      <%= link_to "Cancel", admin_events_path, class: "btn btn-danger btn-block" %> 
    </div>
  </div>
</div>
<% end %>


<script>

</script>