<div class='row my-3'>
  <div class='col-12'>
    <h1>All Events</h1>

<%= link_to "Create Event", new_admin_event_path, class: 'btn btn-success' %>
  </div>
</div>

<div class='row'>
  <% @events.each do |event| %>
    <!--<#% if !event.is_private? %>-->
    <div class='col-md-6 col-sm-12 col-xl-4'>
      <div class='card item-square my-2'>
        <!--<img class="card-img-top img-fluid" src="https://placehold.it/500x150"> -->
        <% if event.event_cover? %>
          <%= image_tag(event.event_cover.url, class: 'card-img-top img-fluid') %>
        <% else %>
          <%= image_tag "walk-wide.jpg", class: 'card-img-top img-fluid' %>
        <% end %>
        <div class='card-block'>
          <h4 class='card-title'> <%= event.title %></h6>
          <p class='card-text'><%= event.venue_name %> - <%= event.city %>, <%= event.state %><br /> <%= event.event_date.strftime("%A, %B %d %Y") %>
            <br />
            <%= link_to "User View", event_path(event), class: "btn btn-primary mt-3 item-square" %>
            <%= link_to "Manage", admin_event_path(event), class: "btn btn-info mt-3 item-square" %>
            <%= link_to "Edit Event", edit_admin_event_path(event), class: "btn btn-warning mt-3 item-square" %>
          </p>
        </div>
        <div class="card-footer text-muted">
          <div class='row'>
              <!--<div class='col-xs-4'><p class='text-xs-left mb-0'><i class='fa fa-user'></i> <#%= event.attendees.count %></p></div> -->
              <div class='col-6'><p class='text-xs-center mb-0'><i class='fa fa-group'></i> <%= event.teams.count %></p></div>            
              <div class='col-6'><p class='text-right mb-0'><i class='fa fa-usd'></i> <%= number_to_currency(event.raised) %></p></div>
          </div>
        </div>
      </div>
    </div>
    <!--<#% end %>-->
  <% end %>
</div>

<!--<div class='row'>-->
<!--  <div class='col-12'>-->
<!--    <table class='table table-bordered table-striped'>-->
<!--  <thead class='thead-inverse'>-->
<!--    <tr>-->
<!--      <th>Event Name</th>-->
<!--      <th>Event Venue</th>-->
<!--      <th>Event Address</th>-->
<!--      <th>Is Private?</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody class: 'table-striped'>-->
<!--    <#% @events.each do |event| %>-->
<!--    <tr>-->
<!--      <td><#%= link_to event.name, admin_event_path(event) %></td>-->
<!--      <td><#%= event.venue_name %></td>-->
<!--      <td><#%= event.street %> <#%= event.city %> <#%= event.state %> <#%= event.zipcode %></td>-->
<!--      <td><#%= event.is_private %></td>-->
<!--      <td><#%= link_to "Edit", edit_admin_event_path(event), class: "btn btn-primary btn-sm" %>-->
<!--      <#%= link_to "Delete", event, method: :destroy, data: { confirm: 'Are you sure? (This action can not be undone)' }, class: 'btn btn-sm btn-danger' %></td>-->
<!--    </tr>-->
<!--    <#% end %>-->
<!--  </tbody>-->
<!--</table>-->
<!--  </div>-->
<!--</div>-->
