<div class='row'>
  <div class='col-12 text-center'>
    <h1><%= @event.name %></h1>
  </div>
</div>
<%= link_to "Add Resources", new_admin_event_resource_path(@event), class: 'btn btn-success' %>
<!-- Nav tabs -->
<ul class="nav nav-pills justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#geninfo" role="tab">General Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#registrations" role="tab">Registations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#fees" role="tab">Registration Fees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#contributions" role="tab">Contributions</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mt-5">
  <div class="tab-pane active" id="geninfo" role="tabpanel">
    <div class='row'>
      <div class='col-12'>
        <h2>Event Cover Photo</h2>
        <% if @event.event_cover? %>
          <img src="<%= @event.event_cover.url %>" class='img-fluid' style='max-height: 250px'>
        <% else %>
          <img src="<%= image_url('calvin-default.jpg') %>" class='img-fluid'>
        <% end %>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-12'>
        <h2>Event Description</h2>
        <%= @event.desc.html_safe %>
      </div>
    </div>  
  </div>
  <div class="tab-pane" id="registrations" role="tabpanel">
    <div class='row'>
      <div class='col-12'>
        <div class='card card-block'>
          <h3>All Registrations</h3>
          <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Registration Fee</th>
                <th>Guests</th>
                <th>Shirt Size</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @event.attendees.each do |attendee| %>
                <tr>
                  <td><%= attendee.user.name %></td>
                  <td><%= number_to_currency(attendee.fee) %></td>
                  <td><%= attendee.guests.count %></td>
                  <td><%= attendee.shirt_size %></td>
                  <td>Nothing to see here</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="fees" role="tabpanel">
    <div class='col-12'>
      <div class='card card-block'>

          <%= render 'registration_fees/new', event: @event %>

        <table class='table mt-3'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Created On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id='reg_fees'>
            <%= render @event.registration_fees %>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
  <div class="tab-pane" id="contributions" role="tabpanel">...</div>
</div>



