<%= form_for(@user) do |f| %>

<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <div class='card card-block'>
      <div class="row">
        <div class="col-12">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'First Name', autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label :profile_pic %>
          <%= f.file_field :profile_pic, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <% if !@user.profile.nil? %>
        <%= f.fields_for :profile do |ff| %>
          <div class='row my-3'>
            <div class='col-12'>
              <h4>Address Details</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-8">
              <%= ff.label :street %>
              <%= ff.text_field :street, class: 'form-control' %>
            </div>
            <div class='col-md-6 col-lg-4'>
              <%= ff.label :apt %>
              <%= ff.text_field :apt, class: 'form-control' %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <%= ff.label :city %>
              <%= ff.text_field :city, class: 'form-control' %>
            </div>
            <div class='col-md-4'>
              <%= ff.label :state %>
              <%= ff.select :state, options_for_select(states, ff.object.state), { }, {class:'form-control', prompt: 'Select a State' } %>
            </div>
            <div class='col-md-4'>
              <%= ff.label :zipcode %>
              <%= ff.text_field :zipcode, class: 'form-control' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row my-3">
        <div class="col-md-6">
          <%= f.submit 'Update Info', class: 'btn btn-success btn-block' %>
        </div>
        <div class="col-md-6">
          <%= link_to "Cancel", user_account_settings_path(current_user), class: 'btn btn-danger btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
