<!--<#% if Rails.env.development? %>
  <#%= render 'test' %>
<#% else %>-->
<div class='container'>
<div class='row mt-5'>
<div class='card card-block' style='margin-top: 7rem;'>
  <% if @user.profile_pic? %>
    <%= image_tag(@user.profile_pic, class: 'img-fluid d-block mx-auto img-thumbnail rounded-circle', style: "margin-top: -100px ") %>
  <% else %>
    <%= image_tag('no_user.png', class: 'img-fluid d-block mx-auto img-thumbnail rounded-circle', style: "margin-top: -100px; height: 250px; ")  %>
  <% end %>
  <div class='raised-content'>
    <h3 class='card-title text-center'><%= @user.name %> - <%= @user.profile.state if !@user.profile.nil? %></h3>
    <div class='row mt-2'>
      <div class='col-md-2 offset-md-2 text-xs-center card card-block card-callout my-3'>
        <h3><%= @user.attendees.is_personal.count %></h3>
        Events Attending
      </div>
      <div class='col-md-2 offset-md-1 text-xs-center card card-block card-callout my-3'>
        <h3><%= @user.contributions.count %></h3>
        Contributions
      </div>
      <div class='col-md-2 offset-md-1 text-xs-center card card-block card-callout my-3'>
        <h3><%= number_to_currency(@user.total_raised) %></h3>
        Funds Raised
      </div>
    </div>

</div>
</div>
</div>
<div class='row mt-3'>
  <div class='col-12'>
      <h3>Events Attending</h3>
  </div>

</div>
<div class='row'>


  <% @user.attendees.each do |attendee| %>
  <div class='col-md-4 my-3'>
    <div class='card'>
      <div class='card-block'>
        <h2 class='card-title'><%= attendee.event.name %></h2>
        <p class='card-text'>
          Location: <%= attendee.event.venue_name %> <a href=''>map</a>
          <br />
          Date: <%= attendee.event.event_date.strftime("%A, %B %d %Y") %>
          <br />
          Guests: <%= attendee.guests.count %>
          <br />
          Days til Event: <%= (attendee.event.event_date - Date.current()).to_i %>
        </p>
      </div>
      <div class='card-footer'>
        <div class='row'>
          <div class='col-6'>
            <%= link_to "Registration", event_attendee_path(attendee.event, attendee), class: 'btn btn-secondary btn-block' %>
          </div>
          <div class='col-6'>
            <%= link_to "Pledge Page", attendee_pledge_page_path(attendee), class: 'btn btn-secondary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

</div>
<!--<#% end %>-->