<tr>
  <td><%= contribution.id %></td>
  <td><% if contribution.user.nil? %> <%= contribution.payments.first.first_name + " " + contribution.payments.first.last_name unless contribution.payments.nil? %> <% else %> <%= contribution.user.name.titleize %> <% end %></td>
  <td><%= contribution.amount %></td>
  <td><%= contribution.paid %></td>
  <td><%= contribution.honoree %></td>
  <td><%= contribution.category.titleize if !contribution.category.nil? %></td>
  <td><% link_to "Edit", edit_admin_contribution_path(contribution.backable, contribution) unless contribution.backable_type == "Team" %>  <%= link_to " | Delete", admin_contributions_path(contribution.backable, contribution), method: :delete, data: { confirm:  "Are you sure? (This action can not be undone!)" } if !contribution.paid? %></td>
</tr>