<tr>
  <td><%= contribution.user.name %></td>
  <td><%= contribution.amount %></td>
  <td><%= contribution.paid %></td>
  <td><%= contribution.honoree %></td>
  <td><%= contribution.category.titleize %></td>
</tr>