<%= form_for([:admin, @event, Contribution.new], :html => { class: 'form-inline' }, remote: true) do |f| %>

        
        <%= f.hidden_field(:category, :value => 'offline') %>
        <%= f.hidden_field(:paid, :value => true) %>
        <%= f.select(:user_id, options_for_select(User.all.collect { |x| [ x.name, x.id ]}), {} , class: 'form-control mb-2 mr-sm-2 mb-sm-0') %>
        <%= f.number_field :amount, class: 'form-control mb-2 mr-sm-2 mb-sm-0', :placeholder => "0.00" %>
        <%= f.text_field :honoree, class: 'form-control mb-2 mr-sm-2 mb-sm-0', :placeholder => 'Dedication' %>
        <label class="custom-control custom-checkbox">
          <%= f.check_box :paid, class: 'custom-control-input', type: 'checkbox' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Has this donation been paid?</span>
        </label>
        <%= f.submit 'Create Contribution', class: 'btn btn-success' %>
<% end %>