<%= form_for([:admin, Contribution.new], :html => { class: 'form-inline' }, remote: true) do |f| %>


        <%= f.hidden_field(:category, :value => 'offline') %>
        <%= f.hidden_field(:paid, :value => true) %>
        <%= f.select(:user_id, options_for_select(User.order(:name).collect { |x| [ x.name.titleize, x.id ]}), { include_blank: true, prompt: "User Donating" } , class: 'chosen-select mb-2 mr-sm-2 mb-sm-0') %>
        <%= f.number_field :amount, class: 'form-control mb-2 mr-sm-2 mb-sm-0', :placeholder => "0.00", :step => "any"  %>
        <%= f.text_field :honoree, class: 'form-control mb-2 mr-sm-2 mb-sm-0', :placeholder => 'Dedication' %>

        <label class="custom-control custom-checkbox">
          <%= f.check_box :paid, class: 'custom-control-input', type: 'checkbox' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Has this donation been paid?</span>
        </label>
        <%= f.hidden_field(:backable, :value => event) %>
        <%= f.hidden_field(:event_title, :value => event.title) %>
        <%= f.hidden_field(:context, :value => "Event") %>
        <%= f.submit 'Create Contribution', class: 'btn btn-success' %>
<% end %>