<div class='container-fluid px-0'>
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" style="background-color: #8CBCDF;">  
<!--navbar-inverse-->
  <div class='container'>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to(root_path, class: 'navbar-brand') do %> <img src='<%= image_url('nfstrong-glow.png') %>' class='d-inline-block align-top' style='height:45px;'> <% end %>

  <div class="collapse navbar-collapse" id="navbarNav" style='color:white;'>
    <ul class="navbar-nav" style="margin-top: .10rem;">
      <li class="nav-item">
        <%= link_to "Events", events_path, class: 'nav-link', style:'color:white;'%>
      </li>
      <li class="nav-item">
        <%= link_to "Donate", contribution_select_path, class: 'nav-link', style:'color:white;' %>
      </li>
      <li class="nav-item">
        <%= link_to "About Us", about_path, class: 'nav-link', style:'color:white;' %>
      </li>
      <li class="nav-item">
        <%= link_to "About NF", nf_path, class: 'nav-link', style:'color:white;' %>
      </li>
    </ul>
    
    
    <ul class="navbar-nav ml-auto" style="margin-top: .10rem;" >
      <% if logged_in? %>
        <% if is_admin? %>
          <li class='nav-item'><%= link_to(admin_events_path, class: 'nav-link', style: 'color:white;') do %><i class='fa fa-gear' aria-hidden="true"></i> Admin <% end %></li>
        <% end %>
        
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: white;'>
          <% if current_user.profile_pic? %>
            <img src='<%= current_user.profile_pic %>' class='rounded-circle d-inline-block align-top' style='height: 30px; position: relative;' >
            <% if current_user.attendees.where(paid: false).any? %> <span class="badge badge-danger badge-pill" style='margin-left:-15px;'> ! </span> <% end %>
          <% else %>
            <img src='<%= image_url('no_user.png') %>' class='rounded-circle d-inline-block align-top' style='height: 30px;' >
            <% if current_user.attendees.where(paid: false).any? %> <span class="badge badge-danger badge-pill" style='margin-left:-15px;'> ! </span> <% end %>
          <% end %>
          <%= current_user.name.titleize %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Profile", user_path(current_user), class: 'dropdown-item' %>
          <%= link_to(user_notifications_path(current_user), class: 'dropdown-item') do %> Notifications <% if current_user.attendees.where(paid: false).any? %> <span class="badge badge-default badge-pill"> <%= current_user.attendees.where(paid: false).count %> </span> <% end %> <% end %>
          <%= link_to "Account Settings", user_account_settings_path(current_user), class: 'dropdown-item' %>
          <%= link_to(logout_path, class: 'dropdown-item') do %> Logout<% end %>
        </div>
      </li>
      <% else %>
        <li class='nav-item'><%= link_to(register_path, class: 'nav-link', style: 'color: white;') do %><i class='fa fa-user-plus'></i> Register <% end %></li>
        <li class='nav-item'><%= link_to(login_path, class: 'nav-link', style: 'color: white;') do %><i class='fa fa-sign-in'></i> login <% end %></li>
      <% end %>
    </ul>
  </div>
  </div>

</nav>
<% if !browser.modern? %>
<nav class='navbar navbar-nav fixed-top navbar-inverse w text-center' id='browser-notice' style='top: 65px; background-color: #d9534f'>
  <h6 class='p-2'>The browser you are using is out of date. Some features on this site may not work correctly. Please consider updating your browser.</h6>

</nav>
<% end %>
</div>
