<ul class="nav flex-column mt-3">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: 'nav-link' %>
  </li>  
  <li class="nav-item">
    <!--<#%= link_to "Admin Dashboard", admin_home_path, class: 'nav-link' %>-->
  </li>
  <li class="nav-item">
    <%= link_to "Events", admin_events_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Users", admin_users_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Payments", admin_payments_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Promotions", admin_promotions_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Campaigns", admin_payments_path, class: 'nav-link  disabled' %>
  </li>
  <li class="nav-item">
    <%= link_to "Reports", admin_payments_path, class: 'nav-link  disabled' %>
  </li>
</ul>