<%= form_for([@event, @attendee]) do |f| %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <%= f.hidden_field(:team_id, :value => @event.teams.first.id) %>
  <% if @attendee.errors.any? %>
    <%= render "shared/errors", errors: @attendee.errors %>
  <% end %>
  <%= f.hidden_field(:category, :value => 'Corporate') %>
  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4'>
      <div class='card'>
        <div class='card-block'>
          <div class='row' id='corp-fields'>
            <div class='col-lg-10 offset-lg-1'>
              <div class='row my-2'>
                <div class='col-12 my-2'>
                  <%= f.label :business_name, "Name of Business", style: 'font-weight:700; font-size: 120%;' %>
                  <%= f.text_field :business_name, class: 'form-control' %>                  
                </div>
              </div>
              <div class='row my-2'>
                <div class='col-12'>
                  <%= f.hidden_field(:shirt_size, :value => "N/A") %>
                  <%= f.label :business_logo, "Company Logo", style: 'font-weight:700; font-size: 120%;' %>
                  <%= f.file_field :business_logo, class: 'form-control' %>
                  <p id="imagehelpblock" class="form-text text-muted">
                    Artwork for logos should be submitted in b/w in the following formats: <br> JPEG, TIFF, Adobe Illustrator, Adobe
Photoshop and PDF
                  </p>
                </div>
              </div>
              <div class='row mb-3'>
                <div class='col-12'>
                  <%= f.label :fee, "Corporate Level", style: 'font-weight:700; font-size: 120%;' %>
                  <% if @event.event_type === "Walk" %>
                  <%= f.collection_radio_buttons(:fee, @event.registration_fees.is_corporate.all, :amount, :name_w_description, style: 'display: inline-block') do |b|
                   b.label(class: "form-check-label", style: 'display: block; margin-bottom: 1rem;')  {b.radio_button(class: "form-check-label") + b.text}
                  end %>
                  <% else %>
                  
                  <%= f.select(:fee, options_for_select(@event.registration_fees.is_corporate.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {prompt: 'Select One'}, class: 'form-control') %>                 
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4'>
      <div class='card'>
        <div class='card-block'>
          <div class='row'>
            <div class='col-md-6 my-3'>
              <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
            </div>
            <div class='col-md-6 my-3'>
              <%= link_to "Cancel", :back, class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<% end %>

<% if @event.event_type === "Walk" %>
<div class='row mt-5'>
  <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4'>
    test
  </div>
</div>
<% end %>