<%= form_for([@event, @attendee]) do |f| %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <%= f.hidden_field(:team_id, :value => @event.teams.first.id) %>
  <% if @attendee.errors.any? %>
    <%= render "shared/errors", errors: @attendee.errors %>
  <% end %>
  <%= f.hidden_field(:category, :value => 'Corporate') %>
  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4'>
      <div class='card'>
        <div class='card-block'>
          <div class='row' id='corp-fields'>
            <div class='col-lg-10 offset-lg-1'>
              <div class='row my-2'>
                <h5 class='text-center'>Registering as: <%= current_user.name.titleize %></h5>
                <div class='col-12 my-2'>
                  <%= f.label :business_name, "Name of Business" %>
                  <%= f.text_field :business_name, class: 'form-control' %>                  
                </div>
              </div>
              <div class='row my-2'>
                <div class='col-12'>
                  <%= f.label :shirt_size %>
                  <%= f.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control form-control-success') %>                  
                </div>
              </div>
              <div class='row my-2'>
                <div class='col-12'>
                  <%= f.label :fee, "Corporate Level" %>
                  <%= f.select(:fee, options_for_select(@event.registration_fees.is_corporate.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {prompt: 'Select One'}, class: 'form-control') %>                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4'>
      <div class='card'>
        <div class='card-block'>
          <div class='row'>
            <div class='col-md-6 my-3'>
              <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
            </div>
            <div class='col-md-6 my-3'>
              <%= link_to "Cancel", :back, class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<% end %>

