<%= form_for([@event, @attendee]) do |f| %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <% if @attendee.errors.any? %>
    <%= render "shared/errors", errors: @attendee.errors %>
  <% end %>

  <div class='row mt-1'>
    <div class='col-md-4 offset-md-4'>
      <div class='card'>
        <div class='card-block'>
          <%= f.label :fee, "Registration Fee" %>
          <%= f.select(:fee, options_for_select(@event.registration_fees.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {prompt: 'Select One'}, class: 'form-control') %>
          <%= f.label :shirt_size %>
          <%= f.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control form-control-success') %>

          <%= f.label :team_id, "Choose a Team" %>
          <%= f.select( :team_id, options_for_select(@event.teams.collect {|x| [x.name, x.id] }), {}, class: 'form-control') %>

        </div>
      </div> 
    </div>
  </div>
  <%= f.fields_for :guests do |ff| %>
  <div class='row mt-1 guest' id='guest<%= ff.options[:child_index] %>' style='display:none'>
    <div class='col-md-4 offset-md-4'>
      <div class='card'>
        <div class='card-block'>
          <button type="button" class="close float-right" id='<%= ff.options[:child_index] %>' aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> 
          <br />
          <%= ff.label :name, "Guest's Name" %>
          <%= ff.text_field :name, class: 'form-control' %>
          <%= ff.label :email, "Guest's Email" %>
          <%= ff.email_field :email, class: 'form-control' %>
          <%= ff.label :fee, "Registration Fee" %>
          <%= ff.select(:fee, options_for_select(@event.registration_fees.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}), {:prompt => 'Select One'}, class: 'form-control') %>
          <%= ff.label :shirt_size %>
          <%= ff.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control') %>
        </div>
      </div> 
    </div>
  </div>
  <% end %>
  <div class='row mt-1' id='addGuestRow'>
    <div class='col-md-4 offset-md-4'>
      <div class='card'>
        <div class='card-block'>
          <button href='#' class='btn btn-primary btn-block mt-2' id='addGuest'>Add a Guest</button>
        </div>
      </div>
    </div>
  </div>

   <div class='row mt-1'>
    <div class='col-md-4 offset-md-4'>
      <div class='card'>
        <div class='card-block'>
          <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
          <%= link_to "Cancel", :back, class: 'btn btn-danger btn-block' %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script>
  var guestCount = 0;
  var guestMax = 5;
  var guests = $('.guest');
  
  console.log(guests[1]);
  console.log(guestCount);
  $("#addGuest").click(function( event ) {
    event.preventDefault();
    if(guestCount < guestMax) {
      $(guests[guestCount]).fadeIn();
      guestCount += 1;
      console.log(guestCount);
    }
    
    if(guestCount != 0) {
      $("#addGuest").text("Add Another Guest")
    }
    
    if(guestCount == guestMax) {
      $("#addGuestRow").hide();
    }

  });
  
  $(".close").click(function(){
    $(this).parents().find('div#guest' + $(this).attr('id')).hide();
    guestCount -= 1;
    if(guestCount < guestMax) {
      $("#addGuestRow").show();
    }
  });
</script>
