<%= form_for([@event, @attendee]) do |f| %>
  <%= f.hidden_field(:category, :value => 'Personal') %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <% if @attendee.errors.any? %>
    <%= render "shared/errors", errors: @attendee.errors %>
  <% end %>

  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3'>
      <div class='card'>
        <div class='card-block'>
          <div class='row' id='personal-fields'>
            <div class='col-lg-10 offset-lg-1'>
              <h5>Registration for <%= current_user.name.titleize %></h5>
                <div class='row'>
                  <div class='col-12 text-center'>
                    <% if @event.registration_fees.is_fundraise.count > 0 %>
                      <% if @attendee.category === "Personal" %>
                      <label class="custom-control custom-radio">
                        <input id="Registration_select" name="registration_type" type="radio" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pay Registration</span>
                      </label>
                      
                      <label class="custom-control custom-radio">
                        <input id="fundraise_select" name="registration_type" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Fundraise</span>
                      </label>
                      <% else %>
                      <label class="custom-control custom-radio">
                        <input id="Registration_select" name="registration_type" type="radio" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pay Registration</span>
                      </label>
                      
                      <label class="custom-control custom-radio">
                        <input id="fundraise_select" name="registration_type" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Fundraise</span>
                      </label>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class='row my-2' id="reg_fee_box">
                  <div class='col-12'>
                    <%= f.label :fee, "Registration Type" %>
                    <%= f.select(:fee, options_for_select(@event.registration_fees.is_personal.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}, f.object.fee), {prompt: 'Select One'}, class: 'form-control', id: 'fee_form_element') %>
                  
                  </div>
                </div>
                <% if @event.registration_fees.is_fundraise.count > 0 %>
                <div class='row my-2' id='fundraise_box' style='display: none;'>
                  <div class='col-12'>
                    <%= f.label :fee, "Fundraising Commitment" %>
                    <%= f.select(:fee, options_for_select(@event.registration_fees.is_fundraise.collect {|x| [x.name, x.amount]}, f.object.fee), {prompt: 'Select One'}, class: 'form-control', id:'fundraise_form_element') %>
                  </div>
                </div>
                <% end %>
                <% if @event.event_type == "Concert" %>
                  <%= f.hidden_field(:shirt_size, :value => "N/A") %>
                  <%= f.hidden_field(:event_id, :value => @event.teams.first.id) %>
                <% else %>
                <div class='row my-2'>
                  <div class='col-12'>
                    <%= f.label :shirt_size %>
                    <%= f.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }), {prompt: 'Select a Size'}, class: 'form-control form-control-success') %>
                  </div>
                </div>
                <div class='row my-2'>
                  <div class='col-12'>
                    <%= f.label :team_id, "Choose a Team" %>
                    <%= f.select( :team_id, options_for_select(@event.teams.collect {|x| [x.name, x.id] }), {}, class: 'form-control') %>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class='row mt-1'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3'>
      <div class='card'>
        <div class='card-block'>
          <div class='row'>
            <div class='col-md-6 my-3'>
              <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
            </div>
            <div class='col-md-6 my-3'>
              <%= link_to "Cancel", :back, class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<% end %>

<script>
  $( document ).ready(function() {
    if($('#fundraise_select').is(':checked')) {
      $('#fundraise_box').show()
      $('#reg_fee_box').hide();
      $('#attendee_category').val("Personal Fundraising")
    } else {
      $('#fundraise_form_element').attr("disabled", true);
    }
  });
  $('#Registration_select').click(function() {
  
  if($(this).is(":checked")) { 
    $('#reg_fee_box').show();
    $('#fundraise_box').hide()
    $('#attendee_category').val("Personal")
    $('#fundraise_form_element').attr("disabled", true);
    $('#fee_form_element').attr("disabled", false);
  }
  
  });

  $('#fundraise_select').click(function() {
  
  if($(this).is(":checked")) { 
    $('#fundraise_box').show()
    $('#reg_fee_box').hide();
    $('#fundraise_form_element').attr("disabled", false);
    $('#fee_form_element').attr("disabled", true);
    $('#attendee_category').val("Personal Fundraising")
  }
  
  });

</script>
