<div class='row mt-3'>
  <div class='col-12'>
    <h2 class='text-center'>Registration for <%= @event.name %></h2>
  </div>
</div>




<div class='row mt-3'>
  <div class='col-md-6 offset-md-1'>
    <div class='card'>
      <div class='card-block'>
                  <%= link_to "Cancel Registration", "", class: 'btn btn-danger btn-sm float-right' %>
        <h2>Registration Information</h2>
        <p class='card-text'>
          Registrant: User's Name
          <br />
          Registration Type: <%= number_to_currency(@attendee.fee) %>
          <br />
          Team: <%= @attendee.team.name %> <% if @attendee.team != @attendee.event.teams.first %> - <%= link_to "Manage", event_team_path(@attendee.event), class: '' %> <% end %>
        </p>
      </div>
    </div>
    <div class='card mt-3'>
      <div class='card-block'>
        <p class='card-text'>
          <h3 class='card-title'>Your Guests<a class='btn btn-primary float-right' data-toggle="collapse" href="#collapseAddGuest" aria-expanded="false" aria-controls="collapseAddGuest">Add Guest</a></h3>

          <br />
          <div class="collapse my-3" id="collapseAddGuest">
            <%= render 'guests/new' %>
          </div>
          <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Fee</th>
                <th>Email</th>
                <th>Shirt Size</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="guests_container">
              <%= render @attendee.guests %>
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
    <div class='col-md-4'>
      <div class='card'>
        <div class='card-block'>
          <h2><i class='fa fa-shopping-cart'></i> Cart Information</h2>
          <table class='table'>
            <thead>
              <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Single Registration</td>
                <td>x1</td>
                <td><%= number_to_currency(@attendee.fee) %></td>
              </tr>
              <tr>
                <td>Guests</td>
                <td id='guest-count'>x<%= @attendee.guests.count %></td>
                <td id='guest-total'><%= number_to_currency(@attendee.guests_fee_total) %></td>
              </tr>
              <tr>
                <td colspan=2>Total:</td>
                <td id='attendee-total'><%= number_to_currency(@attendee.attendee_total) %></td>
              </tr>
            </tbody>
          </table>
          

        </div>
        <div class='card-footer'>  
          <%= link_to "Submit Payment", "", class: 'btn btn-success btn-block' %>
          <!--<#% if @attendee.pledge_page %>-->
          <!--  <#%= link_to 'View Fundraising Page', attendee_pledge_page_path(@attendee, @attendee.pledge_page), class: 'btn btn-primary' %>-->
          <!--<#% else %>-->
          <!--  <#%= link_to 'Create Fundraising Page', new_attendee_pledge_page_path(@attendee), class: 'btn btn-primary' %>-->
          <!--<#% end %>-->

        </div>
      </div>
    </div>
</div>