<%= render 'shared/title', title: "Interest Application ##{@app.id}", display: 4 %>
<div class='row'>
  <div class='col-12 col-md-8 offset-md-2 card card-block'>
    <h3 class='card-title'>Contact Details</h3>
    <div class='row'>
      <div class='col-md-4'>
        <h6>Name:</h6>
        <%= @app.name.titleize %>
      </div>
      <div class='col-md-4'>
        <h6>email:</h6>
        <%= @app.email.titleize %>
      </div>
      <div class='col-md-4'>
        <h6>phone:</h6>
        <%= @app.phone %>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-md-8 offset-md-2 card card-block'>
    <h3 class='card-title'>Interest Details</h3>
    <div class='row'>
      <div class='col-md-4'>
        <h6>Event Type:</h6>
        <%= @app.event_type %>
      </div>
      <div class='col-md-4'>
        <h6>Location:</h6>
        <%= @app.city + " / " + @app.state %>
      </div>
      <div class='col-md-4'>
        <h6>comments:</h6>
        <%= @app.comments %>
      </div>
    </div>
  </div>
</div>