<p id="notice"><%= notice %></p>

<div class="row mt-1">
    <div class="col-12">
      <h1 class="display-3 my-4  text-center">#NFStrong Events</h1>
      <div class='row'>
        <div class='col-lg-8 offset-lg-2'>
          <p style='font-size:110%;'>Walks for Neurofibromatosis take place in communities nationwide. 
          These inspiring events create strong bonds that build a supportive NF community. 
          The goal of these strong communities is to rally together and become one great voice 
          in finding affective treatments and an eventual cure for NF.</p>
          
  
        </div>
      </div>
      <div class='row'>
          <div class='col-lg-10 offset-lg-1'>
            <hr />   
          </div>
      </div>
    </div>
</div>

<div class='row mt-5'>
  <% @events.each do |event| %>

      <div class='col-lg-4 col-md-6 event-card' style='background-image: url(<%= event.event_card.url %>);'>
        <div class='date-overlay py-3 px-4 text-center'>
          <%= event.event_date.strftime("%b") %><h4><%= event.event_date.strftime("%d") %></h4>
        </div>
        <div class='title-overlay px-3 py-2'>
              <%= link_to(event_path(event)) do %>
          <h4><%= event.city %>, <%= event.state %> - <%= event.name %></h4>
          <h4><%= event.event_type %></h4>
          <% end %>
        </div>
      </div>
    
  <% end %>
</div>





<%= render 'shared/footer' %>