<% title "Events" %>
<div class="row mt-1">
    <div class="col-12">
      <h1 class="display-3 my-4  text-center">#NFStrong Events</h1>
      <div class='row'>
        <div class='col-lg-8 offset-lg-2 px-5 px-sm-5 px-md-3'>
          <p style='font-size:110%;'>#NFStrong events take place in communities nationwide. 
          These inspiring events create strong bonds that build a supportive NF community. 
          The goal of these strong communities is to rally together and become one great voice 
          in finding affective treatments and an eventual cure for NF.</p>
          
  
        </div>
      </div>
      <div class='row'>
          <div class='col-lg-10 offset-lg-1'>
            <hr />   
          </div>
      </div>
    </div>
</div>
<div class='container'>
<div class='row my-5'>
  <% @events.each do |event| %>

      <div class='col-lg-4 col-md-6 event-card' onclick='location.href="events/<%= event.id %>";' style='background-image: url(<%= event.event_card.url %>);'>
        <div class='date-overlay py-3 px-4 text-center'>
          <%= event.event_date.strftime("%b") %><h4><%= event.event_date.strftime("%d") %></h4>
        </div>
        <div class='title-overlay px-3 py-2'>
              <%= link_to(event_path(event)) do %>
          <h4><%= event.city %>, <%= event.state %> - <%= event.name %></h4>
          <h4><%= event.event_type %></h4>
          <% end %>
        </div>
      </div>
    
  <% end %>
</div>

</div>

<div class='row w py-5' style='margin-top: 7rem; background-color: #015F88;'>
  <div class='container'>
    <div class='row px-3'>
          <div class='col-md-5 my-3'>
      <img class='img-fluid rounded d-block mx-auto' style='style:275px' src='<%= image_url("ftlauderdalewalk.jpg") %>'>
    </div>
    <div class='col-md-6 offset-md-1 my-3'>
      <h3>Want to see an NF event in your area?</h3>
      <br>
      <p>Our NF Events are an excellent way to build the NF community, raise money to fund research, and to spread awareness. 
      We are always looking for individuals who are driven to engage with their locale community and help organize events.
      If this describes you take a moment to fill out an interest form and join us in the fight to stay #NFstrong.</p>
      
      <div class='row'>
        <div class='col-lg-6 offset-lg-3 my-2'>
          <%= link_to "Click Here", new_application_path, class: 'btn btn-block btn-info' %>
        </div>
        
      </div>
    </div>

  </div>
  </div>
</div>


<%= render 'shared/footer' %>