<div class='event-banner' style='position: relative; background-image: url(<%= @event.event_cover.url %>); height:450px; background-size: cover;'>
  <div class='row' style='position: absolute; bottom: 5%; left: 15px; width:100%'>
    <div class='col-12 col-md-6 offset-md-3 col-lg-8 offset-lg-2 w pt-2' style='background-color: rgba(38, 49, 59, 0.54); '>
      <h1 class='display-4' style="font-family: 'Changa One', cursive;">#NFStrong - <%= @event.name %></h1>
      <hr style="border-top-color: white; margin-right: 7rem;">
      <p style='font-size: 120%;'>
        <i class="fa fa-calendar" aria-hidden="true" style='width:20px;'></i>  <%= @event.event_date.strftime("%A, %B %d, %Y") %>
        <br>
        <i class="fa fa-clock-o" aria-hidden="true" style='width:20px;'></i>  <%= @event.event_start_time.strftime("%I:%M %p")  %> - <%= @event.event_end_time.strftime("%I:%M %p")  %>
        <br>
        <i class='fa fa-map-marker' aria-hidden="true" style='width:20px;'></i>  <%= @event.venue_name %> - <%= @event.city %>, <%= @event.state %>
      </p>
 
      <div class='row'>
        <div class='col-lg-4'>
          <% if logged_in? %>
          <% if current_user.attendees.empty? || !current_user.attendees.find(@event.id) %>
          <div class="dropdown">
            <a class="btn btn-primary btn-block dropdown-toggle my-3" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Single Registation', new_event_attendee_path(@event, :category => "personal"), class: 'dropdown-item' %>
              <%= link_to 'Corporate Registation', new_event_attendee_path(@event, :category => 'corporate'), class: 'dropdown-item' %>
              <%= link_to 'Team Registation', new_event_team_path(@event), class: 'dropdown-item' %>
            </div>
          </div>  
          <% else %>
          <%= link_to 'Manage Registration', event_attendee_path(@event, current_user.attendees.where(event_id: @event.id).first.id), class: 'btn btn-primary btn-block mt-3 mb-6' %>
          <% end %>
          <% else %>
              <div class="dropdown">
            <a class="btn btn-primary btn-block dropdown-toggle my-3" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Single Registation', new_event_attendee_path(@event, :category => "personal"), class: 'dropdown-item' %>
              <%= link_to 'Corporate Registation', new_event_attendee_path(@event, :category => 'corporate'), class: 'dropdown-item' %>
              <%= link_to 'Team Registation', new_event_team_path(@event), class: 'dropdown-item' %>
            </div>
          </div>  
          <% end %>
        </div>
        <div class='col-lg-3'>
          <%= link_to 'Donate', new_event_contribution_path(@event), class: 'btn btn-success btn-block mt-3 mb-5' %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='row px-5 mt-5'>
  <div class='col-xl-6 col-xl-8'>
    <div class='row'>
      <div class='col-12'>
<% if is_admin? %>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
      <div class='card card-block'>
        <div class='row'>
          <div class='col-md-6'>
            <%= link_to "Admin View", admin_event_path(@event), class: "btn btn-block btn-primary" %>
          </div>
          <div class='col-md-6'>
            <%= link_to "Edit", edit_admin_event_path(@event), class: "btn btn-block btn-warning" %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>

  <div class='row'>
    <div class='col-12'>
      <%= @event.desc.html_safe %>
    </div>
  </div>

  <% if !@event.promo_card.nil? %>
    <%= render 'promocard' %>
  <% end %>





</div>
    </div>
    <div class='row'>
      <div class='col-lg-6 my-5'>
        <div class='card card-block' style='min-height: 395px;'>
          <h2>TOP 5 TEAMS <small class='text-muted float-right'><%= link_to(top_teams_path, class: 'anchor-styled') do %><span>See All</span><% end %></small></h2>
          <table class='table  table-striped'>
            <thead>
              <tr>
                <td>Team Name</td>
                <td>Raised</td>
              </tr>
            </thead>
            <tbody>
              <% @top_teams.each do |team| %>
              <tr>
                <td><%= link_to team.name, event_team_path(team.event, team) %></td>
                <td><%= number_to_currency(team.raised) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <div class='col-lg-6 my-5'>
      <div class='card card-block' style='min-height: 395px;'>
        <h2>TOP 5 INDIVIDUALS <small class='text-muted float-right'><%= link_to(top_attendees_path, class: 'anchor-styled') do %><span>See All</span><% end %></small></h2>
        <table class='table  table-striped'>
          <thead>
            <tr>
              <td>Name</td>
              <td>Raised</td>
            </tr>
          </thead>
          <tbody>
            <% @top_fundraisers.each do |attendee| %>
            <tr>
              <td><%= link_to attendee.user.name.titleize, attendee_pledge_page_path(attendee, attendee.pledge_page) %></td>
              <td><%= number_to_currency(attendee.raised) %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    </div>

  </div>
  <div class='col-lg-12 col-xl-4'>
    <div class='row'>
      <div class='col-12'>
        <h3 class='sm-header mb-4'>Event Stats</h3>
        <div class='card card-block'>
          <h4>Raised: <%= number_to_currency(@event.raised) %> <span class='float-right'>Goal: <%= number_to_currency(@event.goal) %></span></h4>
          <div class="progress mt-3">
                              <div class="progress-bar" role="progressbar" aria-valuenow="<%= @event.percent_raised.to_f.ceil %>" aria-valuemin="0" aria-valuemax="100" style='height: 20px; width: <%= @event.percent_raised.to_f.ceil %>%;'></div>
          </div>
          <div class='row mb-2 mt-4 text-center'>
            <div class='col-4'>
              <i class="fa fa-user fa-3x" aria-hidden="true"></i>  
              <h3><%= @event.attendees.count %></h3>
            </div>
            <div class='col-4'>
              <i class="fa fa-users fa-3x" aria-hidden="true"></i>
              <h3><%= @event.teams.count %></h3>
            </div>
            <div class='col-4'>
              <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                <h3><%= @event.contributions.count %></h3>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row mb-3'>
      <div class='col-md-6 col-xl-12 mt-3'>
        <h3 class='sm-header mb-4'>Event Resources</h3>
        <!--<div class='card card-block'>-->
          <div class='list-group'>
            <% @event.resources.order(:created_at).each do |resource| %>
              <%= link_to(resource.attachment_url, class: 'list-group-item list-group-item-action') do %> <i class="fa fa-file-<%= resource.attachment.file.extension.downcase %>-o pr-2" aria-hidden="true"></i>   <%= resource.name %> - Download <% end %></li>
            <% end %>
          </div>
        <!--</div>-->
      </div>
      <div class='col-md-6 col-xl-12 mt-3'>
         <h3 class='sm-header mb-4'>Event Location</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkh8FKeW5f8K0ms_1lNh6QGrBBtBpPY_Y&q=<%= @event.street %>,<%= @event.city %>+<%= @event.state %>" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>         
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-xl-8'>
   <%= render 'comments/new', context: @event %>
  <div id="comments_container">
    <%= render @event.comments %>
  </div>   
    
  </div>
  
</div>
