<%= render "shared/title", title: "Top Individuals" %>
<div class='row mt-5'>
  <% @attendees.each do |attendee| %>
  <div class='col-4 mt-3'>
    <div class='row'>
      <div class='col-md-5'>
        <%= link_to(attendee_pledge_page_path(attendee)) do %>
          <% if !attendee.user.profile_pic? %>
            <img class='img-fluid img-thumbnail rounded-circle d-block mx-auto' style='height:150px;' src='<%= image_url('no_user.png') %>'>
          <% else %>
            <img class='img-fluid img-thumbnail rounded-circle d-block mx-auto' src='<%= attendee.user.profile_pic %>' style='height:150px;'>
          <% end %>
        <% end %>
      </div>
      <div class='col-md-7'>
        <%= link_to(attendee_pledge_page_path(attendee)) do %><h4 class='mt-3'><%= attendee.user.name.titleize %><% end %></h4>
        <h5><%= attendee.event.name %> - <%= attendee.event.city %></h5>
        <h6><%= number_to_currency(attendee.total_raised) %></h6>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class='row my-5'>
  <div class='col-lg-6 offset-lg-3'>
    <%= paginate @teams %>
  </div>
</div>