<div class="row banner-image">
  <img src="<%= image_url('walk-wide.jpg') %>" class='img-fluid' style='width:100% z-index: -1;'>
  <h1 class='display-1 text-center w hidden-sm-down' style="position: absolute; bottom:25%; width: 100%; font-family: 'Changa One', cursive; z-index:100;">#NFSTRONG</h1>
  <h4 class='display-2 text-center w hidden-sm-down' style="position: absolute; bottom:15%; width: 100%; font-family: 'Just Another Hand', cursive;">Striding toward a future without NF</h4>
  <div class='col-md-3 hidden-sm-down offset-3 text-center' style="position: absolute; bottom:5%; width: 100%;">
    <%= link_to "Register", register_path, class: 'btn btn-primary btn-block' %>
  </div>
  <div class='col-md-3 hidden-sm-down offset-6 text-center' style="position: absolute; bottom:5%; width: 100%;">
    <%= link_to "Contribute", contribution_select_path, class: 'btn btn-success btn-block' %>
  </div>
</div>
<div class='container mt-4'>
  <div class='row mt-5'>
    <div class='col-md-6'>
      <h3>About Our Events</h3>
      <p>Walks for Neurofibromatosis take place in communities nationwide.  
      These inspiring events create strong bonds that build a supportive NF community.  
      The goal of these strong communities is to rally together and become one great voice in 
      finding affective treatments and an eventual cure for NF.  The walks are a great way to 
      involve family and friends, meet others who are affected by NF, while raising awareness 
      of this disorder and to create funding for NF research. Take your first step towards a cure 
      by finding, registering, and then fundraising for a walk near you!</p>
      
      <br>
      <h3>Event Activites</h3>
      <p>Join us at #NFStrong events for fun, food, face painting, a raffle with fabulous prizes, NF tattoos, 
      NF Champion medals, top fundraising certificates, and new friends.</p>
    </div>
    <div class='col-md-6'>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/018O0TMy8fc?rel=0&showinfo=0" allowfullscreen></iframe>
      </div>
      <h3 class='text-center mt-4' style="font-family: 'Boogaloo', cursive;">Share With Friends</h3>
    <ul class='nav justify-content-center pr-1 mt-2'>
      <li class='nav-item'><a class='nav-link' href='https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>' target="_blank"><i class='fa fa-facebook-square fa-3x social-icon' style='color:#3b5998;'></i></a></li>
      <li class='nav-item'><a class='nav-link' href='http://twitter.com/home?status=SHAREMESSAGE' target="_blank" ><i class='fa fa-twitter-square fa-3x social-icon' style='color:#00aced;'></i></a></li>
      <li class='nav-item'><a class='nav-link' href='https://plus.google.com/share?url=<%= request.original_url %>'  target="_blank"><i class='fa fa-google-plus-square fa-3x social-icon' style='color:#dd4b39;'></i></a></li>
      <!--<li class='nav-item'><a class='nav-link' href='https://www.reddit.com/r/Charity/submit?title=Checkout%20the%20event:&url=<%= request.original_url %>' target="_blank"><i class='fa fa-reddit-square fa-3x social-icon' style='color:#FF5700;'></i></a></li>-->
    </ul>
    </div>
  </div>

  <div class='row mt-5 mx-1 px-2' style=''>
    <div class='col-12'>
      <div class='card card-block'>
        <div class='row'>
          <div class='col-md-6 mt-3'>
            <img class='img-fluid rounded d-block mx-auto' src='<%= image_url("nfchamp.jpg") %>'>
          </div>
          <div class='col-md-4 offset-md-1 text-center mt-4' style=''>
            <h3 class=""style="font-family: 'Boogaloo', cursive;">We’re making strong progress</h3>
            <h2 class=""><%= number_to_currency(@total_raised) %></span></h2>
            <br />
            <h3 class=""style="font-family: 'Boogaloo', cursive;">Our Goal</h3>
            <h2 class=''>$100,000.00</h2>
            <%= link_to "Contribute Today", contribution_select_path, class: 'btn btn-warning mt-3 px-5' %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>


<div class='row my-5' style=''>
  <div class='container'>
    <div class='row px-3' style=''>
      <div class='col-lg-4 col-md-6 py-5 px-4 w' style='background-color: #015f88;'>
        <h3>Upcoming Events</h3>
        <p> #NF Strong events happen through out the country, find one near you!</p>
        <%= link_to 'All Events', events_path, class: "btn btn-outline-secondary" %>
      </div>
      <% @events.each do |event| %>
      <div class='col-lg-4 col-md-6 event-card' style='background-image: url(<%= event.event_card.url %>);'>
        <div class='date-overlay py-3 px-4 text-center'>
          <%= event.event_date.strftime("%b") %><h4><%= event.event_date.strftime("%d") %></h4>
        </div>
            <div class='title-overlay px-3 py-2'>
              <%= link_to(event_path(event)) do %>
                <h4><%= event.city %>, <%= event.state %> - <%= event.name %></h4>
                <h4><%= event.event_type %></h4>
              <% end %>
            </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class='container'>
  <div class='row px-3'>
    <div class='col-lg-6 my-5'>
      <div class='card card-block' style='min-height: 395px;'>
        <h2>TOP 5 INDIVIDUALS <small class='text-muted float-right'><%= link_to(top_attendees_path, class: 'anchor-styled') do %><span>See All</span><% end %></small></h2>
        <table class='table  table-striped'>
          <thead>
            <tr>
              <td>Name</td>
              <td>Raised</td>
            </tr>
          </thead>
          <tbody>
            <% @top_attendees.each do |attendee| %>
            <tr>
              <td><%= link_to attendee.user.name.titleize, attendee_pledge_page_path(attendee, attendee.pledge_page) %></td>
              <td><%= number_to_currency(attendee.raised) %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class='col-lg-6 mb-5'>
      <div class='card card-block' style='min-height: 395px;'>
        <h2>TOP 5 TEAMS <small class='text-muted float-right'><%= link_to(top_teams_path, class: 'anchor-styled') do %><span>See All</span><% end %></small></h2>
        <table class='table  table-striped'>
          <thead>
            <tr>
              <td>Team Name</td>
              <td>Raised</td>
            </tr>
          </thead>
          <tbody>
            <% @top_teams.each do |team| %>
            <tr>
              <td><%= link_to team.name, event_team_path(team.event, team) %></td>
              <td><%= number_to_currency(team.raised) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row mb-5 px-3' style='background-color: #015F88;'>
  <div class='container'>
    <div class='row'>
    <div class='col-md-5 my-5 w'>
      <h3>Meet Our NF Champs</h3>
      <br>
      <p>Their strength, courage, and happiness despite
      difficult circumstances. They are the reason we keep 
      pushing further to find treatments and a cure for 
      neurofibromatosis.
      </p>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <%= link_to "View Their Stories", champions_path, class: 'btn btn-block btn-info' %>
        </div>
        <div class='col-lg-6 my-2'>
          <%= link_to "Share Your NF Champ", new_champion_path, class:'btn btn-block btn-warning' %>    
        </div>
      </div>
    </div>
    <div class='col-md-7 my-5'>
      <img class='img-fluid rounded d-block mx-auto' src='<%= image_url("supermanchamp.jpg") %>'>
    </div>
  </div>
  </div>
</div>
<div class='row mb-5'>
  <div class='container'>
    <div class='row px-3'>
          <div class='col-md-5 my-3'>
      <img class='img-fluid rounded d-block mx-auto' style='style:275px' src='<%= image_url("ftlauderdalewalk.jpg") %>'>
    </div>
    <div class='col-md-6 offset-md-1 my-3'>
      <h3>Want to see an NF event in your area?</h3>
      <br>
      <p>Our NF Events are an excellent way to build the NF community, raise money to fund research, and to spread awareness. 
      We are always looking for individuals who are driven to engage with their locale community and help organize events.
      If this describes you take a moment to fill out an interest form and join us in the fight to stay #NFstrong.</p>
      
      <div class='row'>
        <div class='col-lg-6 offset-lg-3 my-2'>
          <%= link_to "Click Here", new_application_path, class: 'btn btn-block btn-primary' %>
        </div>
        
      </div>
    </div>

  </div>
  </div>
</div>

<%= render 'shared/footer' %>