<%= form_for [@context, @contribution] do |f| %>
  <% if @contribution.errors.any? %>
    <%= render "shared/errors", errors: @contribution.errors %>
  <% end %>


<div class='row'>
  <div class='col-lg-6 offset-lg-3 col-md-8 offset-md-2'>
    <div class='card'>
      <div class='card-block'>
        <h4 class='text-center my-3'>Make a selection or input your own amount</h4>
        <div class='row my-3'>
          <div class='col-12 text-center my-3'>
            <button class='btn btn-primary valueBtn' data-btnvalue='25'>$25</button>
            <button class='btn btn-primary valueBtn' data-btnvalue='50'>$50</button>
            <button class='btn btn-primary valueBtn' data-btnvalue='100'>$100</button>
            <button class='btn btn-primary valueBtn' data-btnvalue='250'>$250</button>
            <button class='btn btn-primary valueBtn' data-btnvalue='500'>$500</button>
            <button class='btn btn-primary' id='btn-other'>Other</button>
          </div>
        </div>

          <%= f.label :amount %>
          <div class="input-group">
            <div class="input-group-addon"><i class='fa fa-usd'></i></div>
            <%= f.number_field :amount, class: "form-control", :value => (number_with_precision(f.object.amount, :precision => 2) || 0)%>
          </div>
          <div class='row mt-3'>
            <div class='col-12'>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id='in_honor'>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Is this in honor of someone?</span>
              </label>
            </div>
          </div>
          <div id='honoree' style='display: none;'>
            <%= f.label :honoree, "Name of Your Honoree" %>
            <%= f.text_field :honoree, class: "form-control" %>
          </div>

          
          <div class='row'>
            <div class='col-12'>
            <%= f.hidden_field(:user_id, :value => current_user.id) if logged_in? %>
            <%= f.hidden_field(:category, :value => "online") %>
            <%= f.submit class: "btn btn-success btn-block my-3" %>
            <%= link_to "Cancel", :back, class: "btn btn-danger btn-block mb-2 mt-2" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<script>
  $('.valueBtn').on('click', function(){
    event.preventDefault();
    $('#contribution_amount').val($(this).data("btnvalue"));
  })
  
  $('#btn-other').on('click', function(){
    event.preventDefault();
    $('#contribution_amount').focus();
  })


 $('#in_honor').click(function() {
      if($(this).is(":checked")) {
        console.log("checked");
        $('#honoree').show();
      } else {
        console.log('not checked');
        $('#honoree').hide(); 
      }
  });
  
</script>