<div class='row' style='background-color: white; margin-top: -46px;'>
  <div class='col-12'>
    <%= render 'shared/title', title: "Where would you like your contribution applied?" %>
  </div>
</div>

<ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
  <li class="nav-item nav-item-custom">
    <a class="nav-link active" data-toggle="tab" href="#events" role="tab" aria-controls="home">Events</a>
  </li>
  <li class="nav-item nav-item-custom">
    <a class="nav-link" data-toggle="tab" href="#pages" role="tab" aria-controls="profile">Fundraising Pages</a>
  </li>
</ul>

<div class='container'>
  <div class='row mt-3'>
    <div class='col-12'>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="events" role="tabpanel">
          <div class='row my-5'>
            <% @events.is_active.each do |event| %>

              <div class='col-lg-4 col-md-6 event-card' onclick='location.href="<%= url_for controller: 'events', action: 'show', id: event.title %>/contributions/new";' style='background-image: url(<%= event.event_card.url %>);'>
                <div class='date-overlay py-3 px-4 text-center'>
                  Contribute</h4>
                </div>
                <div class='title-overlay px-3 py-2'>
                      <%= link_to(event_path(event)) do %>
                  <h4><%= event.city %>, <%= event.state %> - <%= event.name %></h4>
                  <% end %>
                </div>
              </div>
    
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="pages" role="tabpanel">
          <div class='row my-5'>
            <% @pledgepages.each do |pledge| %>
            <div class='col-lg-4 col-md-6 rounded-circle my-3' onclick='location.href="<%= url_for controller: 'pledge_pages', action: 'show', attendee_id: pledge.attendee.id, id: pledge.id %>/contributions/new";' style='background-image: url();'>

              <img src='<% if !pledge.pledge_pic.url.nil? %> <%= pledge.pledge_pic.url %> <% elsif pledge.user.profile_pic? %><%= pledge.user.profile_pic.url %> <% else %> <%= image_url('no_user.png') %> <% end %>' class='img-fluid rounded-circle mx-auto d-block' style='height:250px;'>
              <div class='card card-block my-3'>
              <h4 class='text-center '><%= pledge.user.name.titleize %><br>
                  <%= pledge.event.name + ' - ' + pledge.event.state %>
                  </h4>
                  </div>
              </div>
            <% end %>
</div>
          
        </div>
      </div>
    </div>
  </div>
</div>