<%= render 'shared/title', title: 'Payment Information', display: 4 %>
<%= form_for([@event, @context, @payment], :html => {:name => "new_payment"}) do |f| %>

  <% if @payment.errors.any? %>
    <%= render 'shared/errors', errors: @payment.errors %>
  <% end %>
<div class='row mb-3'>

  <div class='col-lg-6 my-2 offset-lg-1'>
    <div class='card card-block'>
      <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card</h3>
      <div class='row my-3'>
        <div class='col-md-6 my-2'>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class='col-md-6 my-2'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name,class: "form-control" %>
        </div>
      </div>
      <div class="row my-3">
        <div class='col-12  my-2'>
          <%= f.label :credit_card_number %>
          <%= f.text_field :credit_card_number, class: "form-control" %>
        </div>
      </div>
      <div class="row my-3">
        <div class='col-md-4 my-2'>
          <%= f.label :expiration_month %>
          <%= f.select :expiration_month, months, {}, class: "form-control" %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :expiration_year %>
          <%= f.select :expiration_year, years, {}, class: "form-control" %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :card_security_code %>
          <%= f.text_field :card_security_code, class: "form-control" %>
        </div>
      </div>
      <div class='row my-3'>
        <div class='col-12'>
          <label class="custom-control custom-checkbox">
            <%= f.check_box :cover_processing, class: 'custom-control-input', checked: true %>
            <!--<input type="checkbox" class="custom-control-input" id='cover-fee' checked>-->
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Cover the Processing Fees of <%= number_to_currency(@payment.fee(@context.amount).floor2(2)) %></span>
          </label>
        </div>
      </div>
        <div class="form-group">
          <%= f.hidden_field(:amount, :value => @context.amount) %>
          <%= f.hidden_field(:promo_code, :value => "") %>
          <%- f.hidden_field(:email, :value => current_user.email) %>
        </div>
    </div>



    <div class='card card-block mt-3'>
      <h3><i class="fa fa-address-card-o" aria-hidden="true"></i> Billing Address</h3>
      <div class='row my-3'>
        <div class='col-12'>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id='custom-address'>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Use a different address</span>
          </label>
        </div>
      </div>
      <div class='row my-2'>
        <div class='col-md-6 my-2'>
          <%= f.label :street, "Street Address" %>
          <%= f.text_field :street, class: "form-control", :value => current_user.profile.street if !current_user.profile.nil? %>
        </div>
        <div class='col-md-6 my-2'>
          <%= f.label :apt, "Apt/Suite #" %>
          <%= f.text_field :apt,class: "form-control", :value => current_user.profile.apt if !current_user.profile.nil? %>
        </div>
      </div>
      <div class="row my-2">
        <div class='col-md-4 my-2'>
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control", :value => current_user.profile.city if !current_user.profile.nil?  %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :state %>
          <%= f.text_field :state, class: "form-control", :value => current_user.profile.state if !current_user.profile.nil?  %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :zip, "Zip Code" %>
          <%= f.text_field :zip, class: "form-control", :value => current_user.profile.zipcode if !current_user.profile.nil?  %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-lg-4 my-2'>
      <div class='card'>
        <div class='card-block'>
          <h2><i class='fa fa-shopping-cart'></i> Cart</h2>
          <table class='table'>
            <thead>
              <tr>
                <th>Ticket</th>
                <th>Count</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% @context.order_items.each do |item| %>
              <tr>
                <td><%= item.ticket.name %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency(item.total) %></td>
              </tr>
              <% end %>
              <tr id='processing-block'>
                <td>Cover Processing Fee:</td>
                <td id='processing-count'>x1</td>
                <td id='processing-amount'><%= number_to_currency(@payment.fee(@context.amount).floor2(2)) %></td>
              </tr>
              <tr id='promo-block' style='display: none;'>
                <td id='promo-code-name'></td>
                <td id='promo-percent'></td>
                <td id='promo-discount'></td>
              </tr>
              <tr>
                <td colspan=2>Total:</td>
                <td id='final-total'><%= number_to_currency((@context.amount + @payment.fee(@context.amount)).floor2(2)) %></td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class='card-footer'>
        <input type='number' value='<%= (@context.amount + @payment.fee(@context.amount)).floor2(2) %>' id='hidden_total_fee' style='display: none;'>
        <input type='number' value='<%= @context.amount.floor2(2) %>' id='hidden_total' style='display: none;'>
        <input type='number' value='<%= @payment.fee(@context.amount).floor2(2) %>' id='hidden_fee' style='display: none;'>
          <%= f.submit "Authorize Card", class: "btn btn-success btn-block" %>
          <%= link_to "Edit Order Details", edit_event_order_path(@context.event, @context), class:'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>


</div>
<% end %>

<script>

  $('#payment_cover_processing').click(function() {

   var amount = "<%= number_to_currency(@context.amount).to_s %>";
   var fee = "<%= number_to_currency(@payment.fee(@context.amount)).to_s %>";
   var amount_w_fee = "<%= number_to_currency(@payment.fee(@context.amount) + @context.amount).to_s %>";

      if($(this).is(":checked")) {

        console.log("checked");
        // $('#processing-block').show();
        $('#processing-count').text('x1')
        $('#processing-amount').text(fee);
        $('#final-total').text(amount_w_fee);

      } else {
        console.log('not checked');
        // $('#processing-block').hide();
        $('#processing-count').text('x0');
        $('#processing-amount').text('$0.00');
        $('#final-total').text(amount);

      }
  });

  $('#custom-address').click(function() {

    var profile_address = "<%= current_user.profile.street %>"
    var profile_apt = "<%= current_user.profile.apt %>"
    var profile_city = "<%= current_user.profile.city %>"
    var profile_state = "<%= current_user.profile.state %>"
    var profile_zip = "<%= current_user.profile.zipcode %>"
    if($(this).is(":checked")) {
        console.log("checked");
        // $('#processing-block').show();
        $('#payment_street').val('');
        $('#payment_apt').val('');
        $('#payment_city').val('');
        $('#payment_state').val('');
        $('#payment_zip').val('');
        $('#payment_street').focus();
      } else {
        console.log('not checked');
        // $('#processing-block').hide();
        $('#payment_street').val(profile_address);
        $('#payment_apt').val(profile_apt);
        $('#payment_city').val(profile_city);
        $('#payment_state').val(profile_state);
        $('#payment_zip').val(profile_zip);
      }
  });
</script>