<% if get_instance(@context) && @context.event.event_type === "Concert"  %>

  <%= render 'concert' %>

<% elsif is_sponsor(@context) %>
  <%= render 'sponsorship' %>
<% else %>
<%= render 'shared/title', title: 'Payment Information', display: 4 %>
<%= form_for([@event, @context, @payment], :html => {:name => "new_payment"}) do |f| %>

  <% if @payment.errors.any? %>
    <%= render 'shared/errors', errors: @payment.errors %>
  <% end %>



<div class='row mb-3'>
  <!-- Credit Information Block-->
  <div class='col-lg-6 my-2 offset-lg-1'>
    <!-- Card Block-->
    <div class='card card-block'>
      <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card</h3>
      <div class='row my-3'>
        <div class='col-md-6 my-2'>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class='col-md-6 my-2'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name,class: "form-control" %>
        </div>
      </div>
      <div class="row my-1">
        <div class='col-12  my-2'>
          <%= f.label :email, "Receipt Email" %>
          <%= f.email_field :email,class: "form-control", :value => !current_user.nil? ? current_user.email : ""  %>
        </div>
      </div>
      <div class="row my-3">
        <div class='col-12  my-2'>
          <%= f.label :credit_card_number %>
          <%= f.text_field :credit_card_number, class: "form-control" %>
        </div>
      </div>
      <div class="row my-3">
        <div class='col-md-4 my-2'>
          <%= f.label :expiration_month %>
          <%= f.select :expiration_month, months, {}, class: "form-control" %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :expiration_year %>
          <%= f.select :expiration_year, years, {}, class: "form-control" %>
        </div>
        <div class='col-md-4 my-2'>
          <%= f.label :card_security_code %>
          <%= f.text_field :card_security_code, class: "form-control" %>
        </div>
      </div>
      <div class='row my-3'>
        <div class='col-12'>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :cover_processing, class: 'form-check-input', checked: true %>
                Cover the Processing Fees of <%= number_to_currency(@payment.fee(@context.amount).floor2(2)) %>
            </label>
          </div>

          <!--<label class="custom-control custom-checkbox">-->
          <!--  <#%= f.check_box :cover_processing, class: 'form-control', checked: true %>-->
          <!--  <span class="custom-control-indicator"></span>-->
          <!--  <span class="custom-control-description">Cover the Processing Fees of <#%= number_to_currency(@payment.fee(@context.amount).floor2(2)) %></span>-->
          <!--</label>  -->
        </div>
      </div>
        <div class="form-group">
          <%= f.hidden_field(:amount, :value => @context.unpaid_amount) %>
          <%= f.hidden_field(:fee, :value => @payment.fee(@context.unpaid_amount).floor2(2)) %>
          <%= f.hidden_field(:promo_code, :value => "", "data-discount" => "0") %>
        </div>
    </div>
    <!-- Addresss Block-->
    <div class='card card-block mt-3'>
      <h3><i class="fa fa-address-card-o" aria-hidden="true"></i> Billing Address</h3>
      <% if logged_in? %>
      <div class='row my-3'>
        <div class='col-12'>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id='custom-address'>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Use a different address</span>
          </label>
        </div>
      </div>
      <% end %>
      <div id='address_fields'>
        <div class='row my-2'>
          <div class='col-md-6 my-2'>
            <%= f.label :street, "Street Address" %>
            <%= f.text_field :street, class: "form-control", :value => !current_user.nil? ? current_user.profile.street : "" %>
          </div>
          <div class='col-md-6 my-2'>
            <%= f.label :apt, "Apt/Suite #" %>
            <%= f.text_field :apt,class: "form-control", :value => !current_user.nil? ? current_user.profile.apt : "" %>
          </div>
        </div>
        <div class="row my-2">
          <div class='col-md-4 my-2'>
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", :value => !current_user.nil? ? current_user.profile.city : "" %>
          </div>
          <div class='col-md-4 my-2'>
            <%= f.label :state %>
            <%= f.text_field :state, class: "form-control", :value => !current_user.nil? ? current_user.profile.state : "" %>
          </div>
          <div class='col-md-4 my-2'>
            <%= f.label :zip, "Zip Code" %>
            <%= f.text_field :zip, class: "form-control", :value => !current_user.nil? ? current_user.profile.zipcode : "" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shopping Cart Block -->
  <% if @context.instance_of? Contribution %>
  <!-- Contribution Shopping Cart -->
  <div class='col-lg-4'>
  <div class='card'>
    <div class='card-block'>
      <h2><i class='fa fa-shopping-cart'></i> Cart</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>Type</th>
            <th>Count</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contribution</td>
            <td>1x</td>
            <td><%= number_to_currency(@context.amount) %></td>
          </tr>
           <tr id='processing-block'>
                <td>Cover Processing Fee:</td>
                <td id='processing-count'>1x</td>
                <td id='processing-amount'><%= number_to_currency(@payment.fee(@context.amount).floor2(2)) %></td>
            </tr>
            <tr>
              <td colspan=2>Total:</td>
              <td id='final-total'><%= number_to_currency((@context.amount + @payment.fee(@context.amount)).floor2(2)) %></td>
            </tr>
        </tbody>
        </table>

    </div>
            <div class='card-footer'>
          <%= f.submit "Authorize Card", class: "btn btn-success btn-block" %>
          <%= link_to "Edit Contribution Details", edit_event_contribution_path(@context.backable_id, @context), class: 'btn btn-primary btn-block' %>
        </div>
  </div>
  </div>
  <% else %>
  <!-- Attendee Shopping Cart -->
      <div class='col-lg-4 my-2'>
      <div class='card'>
        <div class='card-block'>
          <h2><i class='fa fa-shopping-cart'></i> Cart</h2>
          <table class='table'>
            <thead>
              <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if !@context.paid %>
              <tr>
                <td>Single Registration</td>
                <td>x1</td>
                <td><%= number_to_currency(@context.fee) %></td>
              </tr>
              <% end %>
              <tr>
                <td>Guests</td>
                <td id='guest-count'>x<%= @context.guests.where(paid: false).count %></td>
                <td id='guest-total'><%= number_to_currency(@context.guests_unpaid_total) %></td>
              </tr>
              <tr id='processing-block'>
                <td>Cover Processing Fee:</td>
                <td id='processing-count'>x1</td>
                <td id='processing-amount'><%= number_to_currency(@payment.fee(@context.unpaid_amount).floor2(2)) %></td>
              </tr>
              <tr id='promo-block' style='display: none;'>
                <td id='promo-code-name'></td>
                <td id='promo-percent'></td>
                <td id='promo-discount'></td>
              </tr>
              <tr>
                <td colspan=2>Total:</td>
                <td id='final-total'><%= number_to_currency((@context.unpaid_amount + @payment.fee(@context.unpaid_amount)).floor2(2)) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='card-footer'>
          <%= f.submit "Authorize Card", class: "btn btn-success btn-block" %>
          <%= link_to "Edit Registration Details", edit_event_attendee_path(@context.event, @context), class:'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<% end %>
<!-- Promotion Block -->
<% if @context.instance_of? Attendee %>
  <% if @context.category == "Personal" %>
    <div class='row mt-3'>
      <div class='col-lg-6 offset-lg-1'>
        <div class='card card-block' id='promo-box'>
          <%= form_for @promo, method: :post, url: check_promotion_code_path, remote: true, :html => { class: 'form-inline' } do |fp| %>
            <%= fp.text_field :code, class: 'form-control mb-2 mr-sm-2 mb-sm-0', :placeholder => "Coupon Code..." %>
            <%= fp.hidden_field(:attendee_id, :value => @context.id) %>
            <%= fp.submit "Submit Coupon", class: 'btn btn-success', id: 'promo-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  var profile_address = "<%= current_user.profile.street if !current_user.nil? && !current_user.profile.nil? %>"
  var profile_apt = "<%= current_user.profile.apt if !current_user.nil? && !current_user.profile.nil? %>"
  var profile_city = "<%= current_user.profile.city if !current_user.nil? && !current_user.profile.nil? %>"
  var profile_state = "<%= current_user.profile.state if !current_user.nil? && !current_user.profile.nil? %>"
  var profile_zip = "<%= current_user.profile.zipcode if !current_user.nil? && !current_user.profile.nil? %>"

  $('#payment_cover_processing').click(function() {


    var amountRaw = $('#payment_amount').val();
    var feeClean = $('#payment_fee').val();
    var amountwfeeRaw = parseFloat(amountRaw) + parseFloat(feeClean);

    if($(this).is(":checked")) {
      var rounded_fee = parseFloat(feeClean).toFixed(2);
      console.log("checked");
      $('#processing-count').text('x1')
      $('#processing-amount').text("$" + parseFloat(feeClean).toFixed(2));
      $('#final-total').text("$" + parseFloat(amountwfeeRaw).toFixed(2));
    } else {
      console.log('not checked');
      $('#processing-count').text('x0');
      $('#processing-amount').text('$0.00');
      $('#final-total').text("$" + parseFloat(amountRaw).toFixed(2));
    }

  });

  $('#custom-address').click(function() {

    if($(this).is(":checked")) {
        console.log("checked");
        resetAddressValues();
        $('#payment_street').focus();
      } else {
        addAddressValues();
      }

  });

  function resetAddressValues() {
    $('#address_fields').find('input:text').val('');
  }

  function addAddressValues() {
    $('#payment_street').val(profile_address);
    $('#payment_apt').val(profile_apt);
    $('#payment_city').val(profile_city);
    $('#payment_state').val(profile_state);
    $('#payment_zip').val(profile_zip);
  }
</script>
<% end %>