<div class='row my-4'>
  <div class='col-12'>
    <div class='card card-block'>
      <h4 class='card-title'>Create New Sponsor Level
        <button class="btn btn-secondary float-right" type="button" data-toggle="collapse" data-target="#sponsor-form" aria-expanded="false" aria-controls="sponsor-form">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div class='collapse' id='sponsor-form'>
      <%= form_for([:admin, event, SponsorLevel.new], remote: true) do |f| %>
      
        <div class='row'>
          <div class='col-lg-3 col-md-6'>
            <%= f.text_field :name, class: 'form-control', placeholder: "Sponsor Level Name" %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.number_field :price, class: 'form-control', placeholder: "Sponsorship Price" %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.select(:ticket_id, event.tickets.collect { |x| [x.name, x.id] } , { prompt: "Tickets" }, class: 'form-control', placeholder: "Sponsorship Price") %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.number_field :quantity, class: 'form-control', placeholder: "Number of Tickets" %>
          </div>
        </div>
        <div class='row my-4'>
          <div class='col-md-6'>
            <%= f.text_area :desc, class: 'form-control', placeholder: 'Sponsorship Level Description' %>
          </div>
          <div class='col-md-3'>
            <%= f.submit "Submit", class: 'btn btn-success mt-2' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>