<div class='row my-4'>
  <div class='col-12'>
        <h4 class='card-title'>Create New Sponsor Level
        <a class="float-right toggle-rotate" data-toggle="collapse" data-target="#sponsor-form" aria-expanded="false" aria-controls="sponsor-form">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
      </h4>
      <hr />
  </div>
</div>
<div class='row mt-2 mb-4 collapse' id='sponsor-form'>
  <div class='col-12'>
    <div class='card card-block'>

      <div class='' >
      <%= form_for([:admin, event, SponsorLevel.new], remote: true) do |f| %>
      
        <div class='row'>
          <div class='col-lg-3 col-md-6'>
            <%= f.text_field :name, class: 'form-control', placeholder: "Sponsor Level Name" %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.number_field :price, class: 'form-control', placeholder: "Sponsorship Price" %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.select(:ticket_id, event.tickets.collect { |x| [x.name, x.id] } , { prompt: "Tickets" }, class: 'form-control', placeholder: "Sponsorship Price") %>
          </div>
          <div class='col-lg-3 col-md-6'>
            <%= f.number_field :quantity, class: 'form-control', placeholder: "Number of Tickets" %>
          </div>
        </div>
        <div class='row my-4'>
          <div class='col-md-6'>
            <%= f.text_area :desc, class: 'form-control', placeholder: 'Sponsorship Level Description' %>
          </div>
          <div class='col-md-3'>
            <%= f.submit "Submit", class: 'btn btn-success mt-2' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  if ($('#sponsor-form-toggle').attr('aria-expanded') === "true") {
    console.log("True");
    $('#sponsor-form-toggle').children().addClass('item-rotate');
     
  } else {
    console.log('False');
    $('#sponsor-form-toggle').children().removeClass('item-rotate');
  }
</script>