<tr>
  <td><%= sponsor_level.name.titleize %></td>
  <td><%= number_to_currency(sponsor_level.price) %></td>
  <td><%= sponsor_level.quantity %></td>
  <td><%= sponsor_level.ticket.name %></td>
  <td><%= sponsor_level.desc %></td>

</tr>