<tr>
  <td><%= sponsor_level.name.titleize %></td>
  <td><%= number_to_currency(sponsor_level.price) %></td>
  <td><%= sponsor_level.ticket.name %></td>
  <td><%= sponsor_level.quantity %></td>  
  <td><%= sponsor_level.desc %></td>
  <td><%= link_to "Edit", edit_admin_event_sponsor_level_path(sponsor_level.event, sponsor_level) %> | <%= link_to "Delete", admin_event_sponsor_level_path(sponsor_level.event, sponsor_level), method: :delete, data: { confirm: 'Are you sure? (This action can not be undone)' } %></td>
</tr>