<% if attendee.category == 'Corporate' %>
  <tr>
    <td><%= attendee.business_name %></td>
    <td><%= attendee.user.name %></td>
    <td><% if attendee.business_logo? %><%= link_to "Logo", attendee.business_logo.url, :target => "_blank" %><% else %> No Logo Uploaded <% end %></td>
    <td><%= attendee.fee %> </td>
    <td><%= attendee.shirt_size %> </td>
    <td><%= attendee.guests.count %></td>
    <td>Edit | Delete</td>
  </tr>
<% else %>
  <tr>
    <td><%= attendee.user.name %></td>
    <td><%= attendee.category %></td>
    <td><%= attendee.fee %> </td>
    <td><%= attendee.shirt_size %></td>
    <td><%= attendee.guests.count %></td>
    <td><%= attendee.team.name %></td>
    <td><%= attendee.paid %></td>
    <td><%= link_to "edit", edit_admin_event_attendee_path(@event, attendee) %> | Delete</td>
  </tr>
<% end %>