<%= form_for([:admin, @event, @attendee]) do |f| %>
  <% if @attendee.errors.any? %>
    <%= render 'shared/errors', errors: @attendee.errors %>
  <% end %>
  <div class='row'>
    <div class='col-12 col-lg-8 offset-lg-2'>
      <div class='card card-block'>
        <div class='row'>
          <div class='col-12'>
            <%= f.label :user_id, "Registered User" %>
            <%= f.select(:user_id, options_for_select(User.all.collect { |x| [x.name, x.id] }, f.object.user_id), {prompt: 'Select a User'}, class: 'form-control') %>
            <div class='row my-2'>
              <div class='col-12'>
                <%= f.label :category %>
                <%= f.select( :category, options_for_select(["Personal", "Corporate"]), {prompt: 'Select a Size'}, class: 'form-control form-control-success') %>
              </div>
            </div>
            <div class='row my-2'>
              <div class='col-12'>
                <%= f.label :shirt_size %>
                <%= f.select( :shirt_size, options_for_select(@event.sizes.collect {|x| [x.label, x.label] }, f.object.shirt_size), {prompt: 'Select a Size'}, class: 'form-control form-control-success') %>
              </div>
            </div>
            <div class='row my-2'>
              <div class='col-12'>
                <%= f.label :fee %>
                <%= f.select(:fee, options_for_select(@event.registration_fees.is_personal.collect {|x| [x.name + ' - $' + x.amount.to_s + '0', x.amount]}, f.object.fee), {prompt: 'Select a Fee'}, class: 'form-control') %>
              </div>
            </div>
            <div class='row my-2'>
              <div class='col-12'>
                <%= f.label :team_id, "Current Team" %>
                <%= f.select( :team_id, options_for_select(@event.teams.collect {|x| [x.name, x.id] }, f.object.team_id), {prompt: "Select a Team"}, class: 'form-control') %>
              </div>
            </div>
            <div class='row my-2'>
              <div class='col-12'>
                <label class="custom-control custom-checkbox">
  <%= f.check_box :paid, class: 'custom-control-input', type: 'checkbox' %>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Registration has been paid</span>
</label>


              </div>
            </div>
            <div class='row'>
              <div class='col-12'>

              </div>
            </div>

          </div>
        </div>
        <div class='row'>
          <div class='col-md-6 mt-2'>
            <%= f.hidden_field(:accepted_terms, :value => "true") %>
            <%= f.submit(@attendee.new_record? ? "Create Registration" : "Update Attendee Record", class: 'btn btn-success btn-block') %>
          </div>
          <div class='col-md-6 mt-2'>
            <%= link_to "Cancel", admin_event_attendees_path(@event), class: 'btn btn-danger btn-block' %>
          </div>
        </div>

      </div>
    </div>
  </div>


<% end %>