<%= render 'shared/title', title: 'All Users' %>
<div class='row'>
  <div class='col-12 col-lg-4 offset-lg-4'>
    <%= search_form_for([:admin, @q], class: 'form-inline') do |f| %>
      <div class="input-group" style='margin: 0 auto;'>
        <%= f.search_field :name_cont, class: 'form-control', placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= f.button(class: 'btn btn-secondary') do %><i class='fa fa-search'></i><% end %>
        </span>

      </div>
      <% if !@q.conditions.empty? %>
        <%= link_to(request.path, class:"btn btn-danger") do %><i class='fa fa-times'><% end %></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class='container mt-3'>
  <div class='row my-4'>
    <div class='col-lg-4 my-2'>
      <div class='card card-block callout text-center'>
        <h2 class='mb-0'><%= @users.count %><br />Total Users</h2>
      </div>
    </div>
    <div class='col-lg-4 my-2'>
      <div class='card card-block callout text-center'>
        <h2 class='mb-0'><%= @users.is_new.count %><br />New Users</h2>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <%= link_to "Create User", new_admin_user_path, class: 'btn btn-success' %><%= link_to(admin_users_path(format: :xlsx), class: 'btn btn-primary btn-sm float-right') do %><i class='fa fa-download'></i> Export to Excel <% end %>
    </div>
  </div>

  <div class='row mt-3'>
    <div class='col-12'>
      <div class='card card-block'>
        <table class='table mt-3'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Linked Accounts</th>
              <th>Created On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row my-5'>
  <div class='col-lg-8 offset-lg-2'>
    <%= paginate @users %>
  </div>
</div>