<%= form_for([@attendee, @pledge_page], method: :patch) do |f| %>
  <% if @pledge_page.errors.any? %>
    <%= render "shared/errors", errors: @pledge_page.errors %>
  <% end %>

<div class='row'>
  <div class='col-12 col-md-8 offset-md-2'>
    <div class='card'>
      <div class='card-block'>
        <div class='row'>
          <div class='col-12'>
            
          </div>
        </div>
        <div class='row mb-2'>
          <div class='col-12'>
        <%= f.label :nf_connection, "NF Connection" %>
        <%= f.text_field :nf_connection, class: 'form-control' %>  
          </div>
        </div>
        <div class='row my-2'>
          <div class='col-12'>
        <%= f.label :custom_story, "Custom Story" %>
        <%= f.text_area :custom_story, class: 'form-control', rows: 10 %>            
          </div>
        </div>
        <div class='row my-2'>
          <div class='col-12'>
        <%= f.label :goal, "My Goal" %>
        <%= f.number_field :goal, class: 'form-control', value: '100.00' %>            
          </div>
        </div>    
        <div class='row my-2'>
          <div class='col-12'>

        <%= f.label :pledge_pic, "Pledge Page Picture -   (250x250)" %>
        <%= f.file_field :pledge_pic, class: 'form-control' %>   
        <p id="passwordHelpBlock" class="form-text text-muted">

</p>
          </div>
        </div>        
        <%= f.hidden_field(:has_customized, :value => true) %>
        <%= f.submit "Submit", class: 'btn btn-success btn-block mt-3' %>
        <%= link_to "Cancel", attendee_pledge_page_path(@pledge_page.attendee, @pledge_page), class: 'btn btn-danger btn-block' %>
      </div>
    </div>
  </div>
</div>

<% end %>



