<% if @pledge_page.event.event_cover? %>
  <div class='row cover-img-block' style='background-image: url("<%= @pledge_page.event.event_cover.url %>"); margin-top: -46px; background-color: #cccccc; background-size: cover; background-attachment: fixed; min-height:450px;'>
  </div>
<% else %>
  <div class='row cover-img-block' style='background-image: url("<%= image_url('walk-wide.jpg') %>"); background-color: #cccccc; background-size: cover; background-attachment: fixed; min-height:450px;'>
  </div>
<% end %>

<div class='container mb-5'>
  <div class='row'>
    <div class='col-12'>
      <div class='card event-card-shadow primary-pledge-card' style='margin-top: -250px; width: 100%;'>

        <div class='card-block'>
          <div class="row">
            <div class="col-lg-8">
              <div class='row mb-3'>
                <div class='col-lg-5'  style='margin-top: -115px;'>
                  <img class='img-fluid img-thumbnail rounded-circle d-block mx-auto' src='<% if @pledge_page.pledge_pic? %> <%= @pledge_page.pledge_pic.url %><% elsif @pledge_page.user.profile_pic? %><%= @pledge_page.user.profile_pic.url %> <% else %><%= image_url('no_user.png') %> <% end %>' style='height: 250px; width:250px'>
                </div>
                <div class='col-lg-7 text-center text-md-center text-lg-left text-sm-center'>
                  <h4><%= @pledge_page.user.name.titleize %> <% if logged_in? && current_user === @pledge_page.user %> <%= link_to(edit_attendee_pledge_page_path(@pledge_page.attendee)) do %> <i class='fa fa-pencil' style='color: black;'></i>  <% end %> <% end %> <br /><small class='text-muted'>I'm NFStrong for <%= @pledge_page.nf_connection.blank? ? "those with NF" : @pledge_page.nf_connection %></small></h4>
                </div>                
              </div>
              <h5>
              <%= link_to(event_path(@pledge_page.event)) do %> #NFStrong <%= @pledge_page.event.name %> @ <%= @pledge_page.event.venue_name %><% end %>
              <br />
              <%= @pledge_page.event.event_date.strftime("%A, %B %d %Y") %>
              </h5>
              <div class='row mt-3'>
                <div class='col-lg-6'>
                  <h4>Achieved: <%= number_to_currency(@pledge_page.attendee.total_raised) %> (<%= @pledge_page.percent_raised.to_f.ceil %>%)
                </div>
                <div class='col-lg-6'>
                  <h4><span class='float-lg-right'>Goal: <%= number_to_currency(@pledge_page.goal) %></span></h4>
                </div>
              </div>
               
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= @pledge_page.percent_raised.to_f.ceil %>" aria-valuemin="0" aria-valuemax="100" style='height: 20px; width: <%= @pledge_page.percent_raised.to_f.ceil %>%;'></div>
              </div>
            </div>
            <div class='col-lg-4 mt-4'>
              <h4>Share This Page:</h4>
              <ul class='nav'>
                <li class='nav-item'><a class='nav-link' style='padding: .5em .5em' href='https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>' target="_blank"><i class='fa fa-facebook-square fa-3x social-icon' style='color:#3b5998;'></i></a></li>
                <li class='nav-item'><a class='nav-link' style='padding: .5em .5em' href='http://twitter.com/home?status=SHAREMESSAGE' target="_blank" ><i class='fa fa-twitter-square fa-3x social-icon' style='color:#00aced;'></i></a></li>
                <li class='nav-item'><a class='nav-link' style='padding: .5em .5em' href='https://plus.google.com/share?url=<%= request.original_url %>'  target="_blank"><i class='fa fa-google-plus-square fa-3x social-icon' style='color:#dd4b39;'></i></a></li>
                <li class='nav-item'><a class='nav-link' style='padding: .5em .5em' href='https://www.reddit.com/r/Charity/submit?title=Checkout%20the%20event:<%= @pledge_page.event.name %>&url=<%= request.original_url %>' target="_blank"><i class='fa fa-reddit-square fa-3x social-icon' style='color:#FF5700;'></i></a></li>
              </ul>
              <hr />
              <h4>Support <%= @pledge_page.user.name %></h4>
              <%= link_to "Join Me", new_event_attendee_path(@pledge_page.attendee.event, category: "personal"), class: 'btn btn-primary btn-block' %>
              <%= link_to "Donate", new_attendee_contribution_path(@pledge_page.attendee), class: 'btn btn-success btn-block' %>
            </div>
          </div>
          <hr />
          <div class='row mb-5'>
            <div class='col-12' style='width: 100%'>
              <h4>My NF Story</h4>
              <% if !@pledge_page.custom_story.blank? %>
              <p>
                <%= @pledge_page.custom_story %>
              </p>  
              <% else %>
              <p>
                On <%= @pledge_page.event.event_date.strftime("%A, %B %d") %>, I’ll be participating at <%= @pledge_page.event.name %> on behalf of <%= @pledge_page.nf_connection.blank? ? "those with NF" : @pledge_page.nf_connection %>, and we’d love your support.
                Whether participating alongside us or contributing to our fundraising efforts, you can make a difference in the lives of 
                the more than 100,000 Americans living with NF.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row my-3'>
    <div class='col-12'>
      <div class='card event-card-shadow'>
        <div class='card-block'>
          <div class='row'>
            <div class='col-12'>
              <h4>What is NF?</h4>
              <p>
                Neurofibromatosis (NF) is a genetic disorder of the nervous system that causes tumors to form on the nerves anywhere
                body at any time. This progressive disorder affects all races, all ethnic groups and both sexes equally. NF is one of the most common 
                genetic disorders in the United States (one in every 2,500 to 3,000 births). The neurofibromatoses affects more than 100,000 
                Americans; this makes NF more prevalent than Cystic Fibrosis, hereditary Muscular Dystrophy, Huntington’s Disease and Tay Sachs 
                combined.
              </p>
            </div>
          </div>
          <hr />
           <div class='row'>
            <div class='col-12'>
              <h4>About the NF Network</h4>
              The NF Network network provides opportunities for local NF organizations to share experiences.  
              The network is a dynamic and growing open space for shared resources, development of new tools, 
              and creation of innovative programs.  It brings together groups from around the country to speak as one voice on national issues.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row mt-3'>
    <div class='col-12'>
      <div class='card event-card-shadow'>
        <div class='card-block'>
          <div class='row'>
            <div class='col-md-4'>
              <h4>Guests</h4>
              <hr />
              <table class='table'>
                <thead>
                  <tr>
                    <th colspan="2">Name</th>
                    <th>Amount Raised</th>
                  </tr>
                </thead>
                <tbody>
                <% @pledge_page.guests.each do |guest| %>
                <tr>
                  <td colspan="2"><%= guest.name %></td>
                  <td><%= number_to_currency(guest.fee) %></td>
                </tr>
                <% end %>  
                </tbody>
              </table>
            </div>
            <div class='col-md-4'>
              <h4>Team Members</h4>
              <hr />
              <% if @pledge_page.attendee.team == @pledge_page.event.teams.first %>
              <h5<%= @pledge_page.user.name %> has not joined a team.</h5>
              <% end %>
            </div>
            <div class='col-md-4'>
              <h4>Contributions</h4>
              <hr />
              <table class='table'>
                <thead>
                  <tr>
                    <th colspan="2">Name</th>
                    <th>Contribution</th>
                  </tr>  
                </thead>
                <tbody>
                <% @pledge_page.contributions.each do |contribution| %>
                <tr>
                  <td colspan="2"><%= contribution.user.name.titleize %></td>
                  <td><%= number_to_currency(contribution.amount) %></td>
                </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'comments/new', context: @pledge_page %>
  <div id='comments_container'>
    <%= render @pledge_page.comments %>
  </div>
</div>



<div class="modal fade" id="AnnouceModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome to your pledge page!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your pledge page is the perfect place for your friends, family members, and co-workers to join you
        in helping those with neurofibromatosis. <br>
        <br>
        We've populated your page with information from your registration form. 
        Click "Customize" to add your personal NF connection to the prefilled text or write about your own experiences with NF. 
        You can also set a custom donation goal and change your profile picture.<br>
        <br>
        
        Please take a few minutes to add your personal touch and join us in the fight to stay #NFStrong.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Customize", edit_attendee_pledge_page_path(@attendee), class: 'btn btn-success' %>

      </div>
    </div>
  </div>
</div>




<script>
$( document ).ready(function() {
  <% if logged_in? && current_user.id === @pledge_page.user.id && !@pledge_page.has_customized %>
      $('#AnnouceModal').modal('show');
  <% end %>
});


</script>