<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      #NFSTRONG
    </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Changa+One|Boogaloo|Just+Another+Hand" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:image" content="<% if content_for?(:og_image) then yield(:og_image) %> <% else %> https://s3.amazonaws.com/nfeventimages/images/emails/nfstrongemail.jpg <% end %>"/>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/messages' %>
    <div class='container-fluid px-0' style='margin-top: 115px;'>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
